<div style="height: calc(100% - 100px);">
    <div class="flex justify-between items-center">
        <p mat-dialog-title class="font-bold leading-5 text-3xl"></p>
        <button mat-icon-button mat-dialog-close>
            <mat-icon aria-label="Close dialog">close</mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <div class=" w-full   flex items-center justify-center">
            <img [src]="fileName | fileFetch: keyName |async" alt="" class="object-fill w-full ">
        </div>
    </mat-dialog-content>
</div>