<div class="flex justify-end">
  <mat-icon class="cursor-pointer" (click)="closeModal()" svgIcon="heroicons_outline:x-mark"></mat-icon>
</div>

<div class="font-bold text-3xl flex justify-center">
  {{ 'top_up_balance' | transloco }}
</div>

<mat-dialog-content class="mat-typography m-auto">
  <form [formGroup]="form">
    <div>
      <mat-form-field class="w-full">
        <mat-label>Сумма</mat-label>
        <input type="number" matInput formControlName="amount">
        <mat-select matPrefix formControlName="currencyId">
          <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="w-full">
        <mat-label>Комментарий</mat-label>
        <input matInput formControlName="comment">
      </mat-form-field>
    </div>

  </form>

  <button (click)="create()" class="fuse-mat-button-large  ml-3 dark w-full" mat-flat-button [color]="'primary'">
    <span *ngIf="!form.disabled">Пополнить</span>
    <mat-progress-spinner *ngIf="form.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
  </button>
</mat-dialog-content>