<div class="flex justify-between items-center">
    <p mat-dialog-title *ngIf="!edit" class="font-bold text-2xl uppercase">{{"add_agent"|transloco}}</p>
    <p mat-dialog-title *ngIf="edit" class="font-bold text-2xl uppercase">{{"edit_agent"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="grid grid-cols-3 gap-4 px-3">

            <mat-form-field>
                <mat-label>{{ 'login' | transloco }}</mat-label>
                <input matInput  formControlName="username"
                    [ngClass]="{'is-invalid': f.username.errors}">
                <mat-error *ngIf="f.username.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'password' | transloco }}</mat-label>
                <input matInput required  formControlName="password"
                    [ngClass]="{'is-invalid': f.password.errors}">
                <mat-error *ngIf="f.password.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'company_name' | transloco }}</mat-label>
                <input required matInput name="companyName" [ngClass]="{'is-invalid': f.companyName.errors}"
                    formControlName="companyName"  />
                <mat-error *ngIf="f.companyName.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'legal_address' | transloco }}</mat-label>
                <input required matInput name="legalAddress" formControlName="legalAddress"
                     [ngClass]="{'is-invalid': f.legalAddress.errors}" />
                <mat-error *ngIf="f.legalAddress.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'actual_address' | transloco }}</mat-label>
                <input required matInput name="physicalAddress" formControlName="physicalAddress"
                    [ngClass]="{'is-invalid': f.physicalAddress.errors}" />
                <mat-error *ngIf="f.physicalAddress.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label> {{ 'director_first_name' | transloco }}</mat-label>
                <input required matInput name="managerFirstName" formControlName="managerFirstName"
                    [ngClass]="{'is-invalid': f.managerFirstName.errors}" />
                <mat-error *ngIf="f.managerFirstName.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label> {{ 'director_last_name' | transloco }}</mat-label>
                <input required matInput name="managerLastName" formControlName="managerLastName"
                    [ngClass]="{'is-invalid': f.managerLastName.errors}" />
                <mat-error *ngIf="f.managerLastName.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'inn' | transloco }}</mat-label>
                <input type="text" mask="999999999" matInput name="inn" formControlName="inn"
                     maxlength="9" required
                    [ngClass]="{'is-invalid': f.inn.errors}" />
                <mat-error *ngIf="f.inn.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'oked' | transloco }}</mat-label>
                <input type="text" mask="99999" matInput name="oked" formControlName="oked"
                     maxlength="5" required
                    [ngClass]="{'is-invalid': f.oked.errors}" />
                <mat-error *ngIf="f.oked.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{ 'mfo' | transloco }}</mat-label>
                <input type="text" matInput name="mfo" formControlName="mfo" 
                    mask="99999" maxlength="5" required [ngClass]="{'is-invalid': f.mfo.errors}" />
                <mat-error *ngIf="f.mfo.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label> {{ 'bank_name' | transloco }}</mat-label>
                <input matInput name="bankBranchName" 
                    formControlName="bankBranchName" required [ngClass]="{'is-invalid': f.bankBranchName.errors}" />
                <mat-error *ngIf="f.bankBranchName.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label> {{ 'phone' | transloco }}</mat-label>
                <ngx-mat-intl-tel-input [cssClass]="'custom'" formControlName="phoneNumber"
                    [preferredCountries]="['uz']" [enablePlaceholder]="true" [enableSearch]="true" name="phoneNumber"
                    #phone>
                </ngx-mat-intl-tel-input>

            </mat-form-field>
            <div class="flex items-center w-full">
                <div formArrayName="bankAccounts" class="flex items-center justify-center w-full">
                    <mat-form-field *ngFor="let item of itemsFormArray.controls; let i = index" [formGroupName]="i"
                        class="w-3/4">
                        <mat-label>Bank Account</mat-label>
                        <input type="number" matInput formControlName="account">
                        <mat-select formControlName="currencyId">
                            <mat-option *ngFor="let currency of currencies"
                                [value]="currency.id">{{currency.name}}</mat-option>
                        </mat-select>
                        <button mat-flat-button class="fuse-mat-button " [color]="'warn'"
                            (click)="removeItem(i)">Remove</button>
                    </mat-form-field>
                    <button type="button" class="mx-2" mat-flat-button [color]="'primary'" (click)="addItem()">Add </button>
                </div>
            </div>
            <div class="w-32">
                <mat-label >{{ 'registration_certificate' | transloco }} </mat-label>
                <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden">
                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10 rounded-md"></div>
                    <div class="absolute inset-0 flex items-center justify-center z-20">
                        <div>
                            <input formControlName="registrationCertificateFilePath" id="avatar-file-input1"
                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file"
                                [multiple]="false" [accept]="'image/jpeg, image/png'"
                                (change)="selectFile($event, 'registrationCertificateFilePath')">
                            <label
                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                for="avatar-file-input1" matRipple>
                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                            </label>
                        </div>
                    </div>
                    <img class="object-fill w-full h-full" *ngIf="registrationCertificateFilePath&&!edit"
                        [src]="registrationCertificateFilePath">
                    <img class="object-fill w-full h-full" *ngIf="registrationCertificateFilePath&&edit"
                        [src]="registrationCertificateFilePath | fileFetch: 'driver'|async">
                </div>
            </div>

            <!-- <mat-form-field class="flex items-center">
                <mat-label >{{ 'registration_certificate' | transloco }} </mat-label>
                <input matInput placeholder="Upload" class="mr-2"
                    [value]="form.get('registrationCertificateFilePath')?.value?.name || ''"
                    formControlName="registrationCertificateFilePath"
                    [ngClass]="{'is-invalid': f.registrationCertificateFilePath.errors}">
                <label class=" text-white font-bold p-2 rounded-full cursor-pointer">
                    <mat-icon aria-label="Upload">cloud_upload</mat-icon>
                    <input type="file" (change)="onFileSelected($event, 'registrationCertificateFilePath')"
                        formControlName="registrationCertificateFilePath" id="fileInput" style="display: none;">
                </label>
                <mat-error *ngIf="f.registrationCertificateFilePath.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
                <img *ngIf="form.get('registrationCertificateFilePath').value"
                    [src]="getImageUrl('registrationCertificateFilePath')" class="max-h-12 max-w-12" />
            </mat-form-field> -->

            <div class="w-32">
                <mat-label >{{ 'passport_owner' | transloco }} </mat-label>
                <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden">
                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10 rounded-md"></div>
                    <div class="absolute inset-0 flex items-center justify-center z-20">
                        <div>
                            <input formControlName="managerPassportFilePath" id="avatar-file-input1"
                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file"
                                [multiple]="false" [accept]="'image/jpeg, image/png'"
                                (change)="selectFile($event, 'managerPassportFilePath')">
                            <label
                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                for="avatar-file-input1" matRipple>
                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                            </label>
                        </div>
                    </div>
                    <img class="object-fill w-full h-full" *ngIf="managerPassportFilePath&&!edit"
                        [src]="managerPassportFilePath">
                    <img class="object-fill w-full h-full" *ngIf="managerPassportFilePath&&edit"
                        [src]="managerPassportFilePath | fileFetch: 'driver'|async">
                </div>
            </div>
            
            <!-- <mat-form-field class="flex items-center">
                <mat-label >{{ 'passport_owner' | transloco }} </mat-label>
                <input matInput placeholder="Upload" class="mr-2"
                    [value]="form.get('managerPassportFilePath')?.value?.name || ''"
                    formControlName="managerPassportFilePath"
                    [ngClass]="{'is-invalid': f.managerPassportFilePath.errors}">
                <label class=" text-white font-bold p-2 rounded-full cursor-pointer">
                    <mat-icon aria-label="Upload">cloud_upload</mat-icon>
                    <input type="file" (change)="onFileSelected($event, 'managerPassportFilePath')"
                        formControlName="managerPassportFilePath" id="fileInput" style="display: none;">
                </label>
                <mat-error *ngIf="f.managerPassportFilePath.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
                <img *ngIf="form.get('managerPassportFilePath').value" [src]="getImageUrl('managerPassportFilePath')"
                    class="max-h-12 max-w-12" />
            </mat-form-field> -->
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex">
    <div class="ml-auto p-4">
        <button mat-flat-button class="fuse-mat-button " [color]="'warn'" mat-dialog-close tabindex="-1">
            {{ 'cancel' | transloco }}</button>
        <button
            [ngClass]="{'fuse-mat-button text-white': form.invalid || form.pristine, 'fuse-mat-button ': !form.invalid && !form.pristine}"
            mat-flat-button [color]="'primary'" [disabled]="form.invalid || form.pristine" (click)="submit()">
            {{ 'save' | transloco }}
        </button>
    </div>
</mat-dialog-actions>