<div class="flex flex-col flex-auto ">
    <div class="flex-auto  ">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{"drivers"|transloco}}</div>
            </div>
        </div>
        <div class="mt-4  shadow-table">
            <mat-table matSort [dataSource]="dataSource">

                <ng-container matColumnDef="index">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef> No </mat-header-cell>
                    <mat-cell class="dark:text-white" *matCellDef="let row; let i=index"> {{ i + 1 }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell class="dark:text-white" *matCellDef="let row"> {{ row?.id }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="full_name">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"full_name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.firstName }} {{ row?.lastName }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"phone"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngFor="let phoneNumber of row.phoneNumbers">
                            {{phoneNumber?.phoneNumber}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type_transport">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"type_transport"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" [matTooltip]="tooltipText(row.driverTransports)">
                        {{row.driverTransports[0]?.transportTypes[0].name}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="register_date">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"register_date"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.createdAt | date:'dd/MM/yyyy HH:mm'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="last_enter">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"last_enter"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.last_inter}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"status"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                        <button *ngIf="!row?.blocked"
                            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full">
                        </button>
                        <button *ngIf="row?.blocked"
                            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full">
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="subscription">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"subscription"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.subscription?.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item color="accent" (click)="detail(row.id)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                    {{"detail"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" *ngIf="!row.blocked" (click)="block(row.id)">
                                    <mat-icon>lock</mat-icon>
                                    {{"block"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" *ngIf="row.blocked" (click)="active(row.id)">
                                    <mat-icon>lock_open</mat-icon>
                                    {{"unblock"|transloco}}
                                </button>
                                <button mat-menu-item color="warn" [disabled]="row.blocked" (click)="delete(row.id)">
                                    <mat-icon>remove</mat-icon>
                                    {{"delete"|transloco}}
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" (click)="detail(row.id)">
                </mat-row>
            </mat-table>
            <app-no-data-placeholder *ngIf="!dataSource.data.length" class="m-1">
            </app-no-data-placeholder>
            <mat-paginator [showFirstLastButtons]="true" (page)="onPageChange($event)"
            [length]="pageParams.totalPagesCount*pageParams.pageSize" [pageSize]="pageParams.pageSize"
            [pageIndex]="pageParams.pageIndex-1" [pageSizeOptions]="[10, 20, 50, 100, 200]">
        </mat-paginator>
        </div>
    </div>
</div>