<div class="flex justify-between items-center">
    <p mat-dialog-title *ngIf="!edit" class="font-bold text-2xl uppercase">{{"add_role"|transloco}}</p>
    <p mat-dialog-title *ngIf="edit" class="font-bold text-2xl uppercase">{{"edit_role"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="w-1/3 ml-2">
            <mat-form-field color="accent" class="w-full">
                <mat-label>{{ 'role_name' | transloco }}</mat-label>
                <input matInput formControlName="name" [ngClass]="{'is-invalid': f.name.errors}">
                <mat-error *ngIf="f.name.errors?.required">
                    {{ 'is_empty' | transloco }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="grid grid-cols-3 gap-4">
            <div class="p-3 flex flex-col">
                <mat-slide-toggle class="py-2" formControlName="addDriver">
                    {{"add_driver"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="addClient">
                    {{"add_client"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="addOrder">
                    {{"add_order"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="cancelOrder">
                    {{"cancel_order"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="seeDriversInfo">
                    {{"see_drivers_info"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="seeClientsInfo">
                    {{"see_clients_info"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="sendPush">
                    {{"send_push"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="tracking">
                    {{"tracking"|transloco}}
                </mat-slide-toggle>
            
            </div>

            <div class="p-3 flex flex-col">
                <mat-slide-toggle class="py-2" formControlName="chat">
                    {{"chat"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="driverMerchantFinance">
                    {{"driver_finance"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="clientMerchantFinance">
                    {{"merchant_finance"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="registerClientMerchant">
                    {{"registr_merchant_client"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="registerDriverMerchant">
                    {{"registr_merchant_driver"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="verifyDriver">
                    {{"verify_driver"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="clientMerchantList">
                    {{"merchant_client_list"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="driverMerchantList">
                    {{"merchant_driver_list"|transloco}}
                </mat-slide-toggle>
            </div>
            <div class="p-3 flex flex-col">
                <mat-slide-toggle class="py-2" formControlName="adminPage">
                    {{"admin_page"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="finRequest">
                    {{"fin_request"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="driverMerchantPage">
                    {{"driver_merchant_page"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="clientMerchantPage">
                    {{"client_merchant_page"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="driverVerification">
                    {{"driver_verification"|transloco}}
                </mat-slide-toggle>
                <mat-slide-toggle class="py-2" formControlName="agentPage">
                    {{"agent_page"|transloco}}
                </mat-slide-toggle>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end justify-items-end">
    <button mat-flat-button class="fuse-mat-button " [color]="'warn'" mat-dialog-close tabindex="-1">
        {{ 'cancel' | transloco }}</button>
    <button
        [ngClass]="{'fuse-mat-button text-white': form.invalid || form.pristine, 'fuse-mat-button ': !form.invalid && !form.pristine}"
        mat-flat-button [color]="'primary'" [disabled]="form.invalid || form.pristine" (click)="submit()">
        {{ 'save' | transloco }}
    </button>
</mat-dialog-actions>