<div class="flex justify-between items-center">
    <p mat-dialog-title *ngIf="!edit" class="font-bold text-2xl uppercase">{{"add_subscription"|transloco}}</p>
    <p mat-dialog-title *ngIf="edit" class="font-bold text-2xl uppercase">{{"edit_subscription"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="flex">
            <div class="w-full">
                <mat-form-field color="accent" class="w-full">
                    <input matInput placeholder="{{ 'name' | transloco }}" formControlName="name"
                        [ngClass]="{'is-invalid': f.name.errors}">
                    <mat-error *ngIf="f.name.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field color="accent" class="w-full">
                    <input matInput placeholder="{{ 'price' | transloco }}" type="number" formControlName="price"
                        [ngClass]="{'is-invalid': f.price.errors}">
                    <mat-error *ngIf="f.price.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field color="accent" class="w-full">
                    <input matInput placeholder="{{ 'duration' | transloco }}" type="number" formControlName="duration"
                        [ngClass]="{'is-invalid': f.duration.errors}">
                    <mat-error *ngIf="f.duration.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end justify-items-end">
    <button mat-flat-button class="fuse-mat-button " [color]="'warn'" mat-dialog-close tabindex="-1">
        {{ 'cancel' | transloco }}</button>
    <button
        [ngClass]="{'fuse-mat-button text-white': form.invalid || form.pristine, 'fuse-mat-button ': !form.invalid && !form.pristine}"
        mat-flat-button [color]="'primary'" [disabled]="form.invalid || form.pristine" (click)="submit()">
        {{ 'save' | transloco }}
    </button>
</mat-dialog-actions>