<div class="flex justify-between items-center">
    <p mat-dialog-title class="font-bold text-2xl uppercase">{{"assign_merchant_driver"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="flex">
            <div class="w-full">
                <mat-form-field class="w-full">
                    <mat-label>{{ 'driver_merchant' | transloco }}</mat-label>
                    <input type="text" matInput [matAutocomplete]="dirverIdcomplete" (input)="findDriver($event)"
                        formControlName="fullName">
                    <mat-autocomplete autoActiveFirstOption #dirverIdcomplete="matAutocomplete"
                        [displayWith]="displayDriverFn">
                        <ng-container *ngIf="merchantInfo">
                            <mat-option *ngFor="let merchant of merchantInfo" [value]="merchant">
                                {{ merchant?.id }} - {{ merchant.companyType }} {{ merchant?.companyName }}
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end justify-items-end">
    <button mat-flat-button class="fuse-mat-button " [color]="'warn'" mat-dialog-close tabindex="-1">
        {{ 'cancel' | transloco }}</button>
    <button
        [ngClass]="{'fuse-mat-button text-white': form.invalid || form.pristine, 'fuse-mat-button ': !form.invalid && !form.pristine}"
        mat-flat-button [color]="'primary'" [disabled]="form.invalid || form.pristine" (click)="submit()">
        {{ 'save' | transloco }}
    </button>
</mat-dialog-actions>