<div class="flex justify-between items-center">
    <p mat-dialog-title class="font-bold text-2xl uppercase">{{"connect_driver"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <form [formGroup]="form" class="px-3">
        <mat-form-field class="w-full">
            <mat-label>{{ 'drivers' | transloco }}</mat-label>
            <input type="text" matInput [matAutocomplete]="dirverIdcomplete" (input)="findDriver($event)">
            <mat-autocomplete autoActiveFirstOption #dirverIdcomplete="matAutocomplete" [displayWith]="displayDriverFn">
                <ng-container *ngIf="driverInfo">
                    <mat-option *ngFor="let driver of driverInfo" [value]="driver">
                        {{ driver?.id }} - {{ driver?.firstName }} {{ driver.lastName }}
                    </mat-option>
                </ng-container>
                <ng-container *ngIf="driverInfo?.length==0">
                    {{ 'no_found' | transloco }}
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex">
    <div class="ml-auto p-4">
        <button mat-flat-button class="fuse-mat-button" [color]="'warn'" mat-dialog-close tabindex="-1">
            {{ 'cancel' | transloco }}</button>
        <button
            [ngClass]="{'fuse-mat-button text-white': form.invalid || form.pristine, 'fuse-mat-button ': !form.invalid && !form.pristine}"
            mat-flat-button [color]="'primary'" [disabled]="form.invalid " (click)="submit()">
            {{ 'save' | transloco }}
        </button>
    </div>
</mat-dialog-actions>