<div class="flex justify-between">
  <div *ngIf="currentStep == 1"></div>
  <mat-icon *ngIf="currentStep != 1" class="cursor-pointer" (click)="previousStep()"
    svgIcon="heroicons_outline:arrow-long-left"></mat-icon>
  <mat-icon class="cursor-pointer" (click)="closeModal()" svgIcon="heroicons_outline:x-mark"></mat-icon>
</div>

<div class="flex items-center justify-center gap-1 mb-5">
  <div class="stepper-item active"><span>1</span></div>
  <mat-icon class="step-arrow" [class.step-arrow-active]="currentStep === 2 || currentStep === 3"
    svgIcon="heroicons_outline:arrow-long-right"></mat-icon>
  <div class="stepper-item" [class.active]="currentStep === 2 || currentStep === 3"><span>2</span></div>
  <mat-icon class="step-arrow" [class.step-arrow-active]="currentStep === 3"
    svgIcon="heroicons_outline:arrow-long-right"></mat-icon>
  <div class="stepper-item" [class.active]="currentStep === 3"><span>3</span></div>
</div>

<div class="font-bold text-3xl flex justify-center capitalize">{{'cargo_placement' | transloco | uppercase }}</div>

<mat-dialog-content class="mat-typography m-auto px-3">
  <form class="flex w-full gap-2 px-3" [formGroup]="form" class="mt-8 w-full">
    <!-- STEP 1 -->
    <div *ngIf="currentStep == 1">
      <!-- Дата погрузки -->
      <div class="grid sm:grid-cols-1 gap-4">
        <mat-form-field class="flex-auto gt-xs:pr-3 w-1/2">
          <mat-label> {{'date_shipment'|transloco}}</mat-label>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <input matInput [matDatepicker]="picker" readonly formControlName="sendDate">
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- Место отправки груза - Место доставки груза -->
      <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-4">

        <mat-form-field class="flex-auto gt-xs:pr-3 md:w-72 sm:w-full">
          <mat-label>{{'place_shipment'|transloco}}</mat-label>
          <input type="text" matInput [matAutocomplete]="loadingLocation" (input)="findCity($event)"
            formControlName="loadingLocation">
          <mat-autocomplete autoActiveFirstOption #loadingLocation="matAutocomplete" [displayWith]="displayFn">
            <ng-container *ngFor="let city of findList">
              <mat-option [value]="city">
                {{city.displayName}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
          <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
        </mat-form-field>

        <mat-form-field class="flex-auto gt-xs:pr-3 md:w-72 sm:w-full">
          <mat-label> {{'delivery_shipment'|transloco}}</mat-label>
          <input type="text" matInput [matAutocomplete]="deliveryLocation" (input)="findCity($event)"
            formControlName="deliveryLocation">
          <mat-autocomplete autoActiveFirstOption #deliveryLocation="matAutocomplete" [displayWith]="displayFn">
            <ng-container *ngFor="let city of findList">
              <mat-option [value]="city">
                {{city.displayName}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
          <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
        </mat-form-field>
      </div>

      <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-4">
        <mat-form-field>
          <mat-label> {{'add_Stop'|transloco}}</mat-label>
          <mat-select multiple formControlName="selectedLocations">
            <mat-option value="customsPlaceLocation">{{'custom_place' |transloco}}</mat-option>
            <mat-option value="customsClearancePlaceLocation">{{'custom_clearance_place' |transloco}}</mat-option>
            <mat-option value="additionalLoadingLocation"> {{'add_loading_area'|transloco}}</mat-option>
            <mat-option value="additionalDeliveryLocation">{{'add_unloading_area'|transloco}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="flex-auto gt-xs:pr-3 md:w-72 sm:w-full">
          <mat-label>{{ 'client' | transloco }}</mat-label>
          <input type="text" matInput [matAutocomplete]="clientIdcomplete" (input)="findClient($event)"
            formControlName="fullName">
          <mat-autocomplete autoActiveFirstOption #clientIdcomplete="matAutocomplete" [displayWith]="displayClientFn">
            <ng-container *ngIf="clientInfo?.firstName">
              <mat-option [value]="clientInfo">
                {{clientInfo.firstName}} {{clientInfo.lastName}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="grid grid-cols-2">
        <div class="flex-auto gt-xs:pr-3 md:w-72 sm:w-full"
          *ngFor="let location of form.get('selectedLocations').value">
          <mat-form-field class="flex-auto gt-xs:pr-3 md:w-72 sm:w-full">
            <mat-label>{{ getDynamicLabel(location) }}</mat-label>
            <input type="text" matInput [matAutocomplete]="auto" (input)="findCity($event)"
              [formControlName]="location">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
              <ng-container *ngFor="let city of findList">
                <mat-option [value]="city">
                  {{city.displayName}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
            <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
          </mat-form-field>
        </div>
      </div>
      <hr>
      <div class="flex flex-col">
        <mat-checkbox formControlName="isAdr"> {{'isAdr'|transloco}}</mat-checkbox>
        <mat-checkbox formControlName="isCarnetTir">{{'carnet_tir'|transloco}}</mat-checkbox>
        <mat-checkbox formControlName="isGlonas">{{'glonass'|transloco}}</mat-checkbox>
        <mat-checkbox formControlName="isParanom">{{'by_ferry'|transloco}}</mat-checkbox>
      </div>
    </div>
    <!-- STEP 2 -->
    <div *ngIf="currentStep == 2">
      <div class="flex gap-2">
        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label>{{'offered_price'|transloco}}</mat-label>
          <input type="number" matInput formControlName="offeredPrice">
          <mat-select matPrefix formControlName="offeredPriceCurrencyId">
            <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label> {{'prepaid_expense'|transloco}}</mat-label>
          <input type="number" matInput formControlName="inAdvancePrice">
          <mat-select matPrefix formControlName="inAdvancePriceCurrencyId">
            <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex gap-2">
        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label> {{'payment_method'|transloco}}</mat-label>
          <mat-select formControlName="paymentMethod" [compareWith]="compareFin">
            <mat-option value="cash"> {{'cash'|transloco}} </mat-option>
            <mat-option value="cashless"> {{'cashless'|transloco}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox class="flex-auto md:w-72 sm:w-full" formControlName="isSafeTransaction">
          {{'secure_transaction'|transloco}}
        </mat-checkbox>
      </div>
    </div>
    <!-- STEP 3 -->
    <div *ngIf="currentStep == 3">
      <div class="flex gap-2">
        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label>{{'type_transport'|transloco}} </mat-label>
          <mat-select formControlName="transportTypeIds" multiple [compareWith]="compareFn">
            <mat-option *ngFor="let item of transportTypes" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label> {{'cargo_type'|transloco}}</mat-label>
          <mat-select formControlName="transportKindIds" multiple [compareWith]="compareFn">
            <mat-option *ngFor="let item of transportKinds" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="flex gap-2" *ngIf="isAutotransport">
        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label> {{'number_of_transporters'|transloco}}</mat-label>
          <input type="number" matInput formControlName="refrigeratorCount">
        </mat-form-field>
      </div>

      <div *ngIf="isRefrigerator">
        <mat-checkbox [checked]="isRefrigeratorMode" (change)="onCheckboxChange($event)"> {{'is_mode' | transloco }}
        </mat-checkbox>
        <mat-checkbox formControlName="isHook"> {{ 'hook' | transloco}}</mat-checkbox>
      </div>

      <div class="flex items-center gap-4" *ngIf="isRefrigeratorMode">
        <mat-form-field class="flex items-center w-full">
          <mat-label>{{ 'mode_from' | transloco }}</mat-label>
          <input type="number" min="-10" max="24" matInput formControlName="refrigeratorFrom">
        </mat-form-field>
        <mat-form-field class="flex items-center w-full">
          <mat-label>{{ 'mode_to' | transloco }}</mat-label>
          <input type="number" max="25" min=0 matInput formControlName="refrigeratorTo">
        </mat-form-field>
      </div>

      <div class="flex gap-2" *ngIf="isCistern">
        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label> {{ 'volume_l' | transloco }}</mat-label>
          <input type="number" matInput formControlName="cisternVolume">
        </mat-form-field>
      </div>

      <div class="flex items-center gap-2" *ngIf="isContainer">
        <mat-form-field class="flex items-center w-full">
          <mat-label> {{ 'volume_f' | transloco }}</mat-label>
          <mat-select [value]="'EU'" formControlName="containerVolume">
            <mat-option [value]="'20'">20(ф.)</mat-option>
            <mat-option [value]="'40'">40(ф.)</mat-option>
            <mat-option [value]="'60'">60(ф.)</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle class="py-2 w-full" formControlName="isHighCube">
          {{"Высокий куб"|transloco}}
        </mat-slide-toggle>
      </div>

      <div class="flex gap-2">
        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label>{{'cargo_type'|transloco}}</mat-label>
          <mat-select formControlName="cargoTypeId" [compareWith]="compareFn">
            <mat-optgroup *ngFor="let group of cargoTypes;trackBy:group" [label]="group.name">
              <mat-option *ngFor="let item of group.cargoTypes" [value]="item.id">{{item.name}}</mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label> {{'cargo_weight_gross'|transloco}}</mat-label>
          <input type="number" matInput formControlName="cargoWeight">
        </mat-form-field>

        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label>{{'cube'|transloco}}</mat-label>
          <input type="number" matInput formControlName="cubature">
        </mat-form-field>
      </div>

      <div class="flex-auto">
        <div class="text-[#1e293b] font-medium dark:text-white"> {{'cargo_dimensions'|transloco }}</div>
        <div class="flex items-baseline gap-2">
          <mat-form-field class="flex-auto">
            <input type="number" matInput formControlName="cargoLength" placeholder="Длина">
          </mat-form-field>
          <mat-form-field class="flex-auto">
            <input type="number" matInput formControlName="cargoWidth" placeholder="Ширина">
          </mat-form-field>
          <mat-form-field class="flex-auto">
            <input type="number" matInput formControlName="cargoHeight" placeholder="Высота">
          </mat-form-field>
        </div>
      </div>

      <div class="flex gap-2">
        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label> {{'loading_method'|transloco}}</mat-label>
          <mat-select formControlName="loadingMethodId" [compareWith]="compareFn">
            <mat-option *ngFor="let item of cargoLoadingMethods" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-auto md:w-72 sm:w-full">
          <mat-label> {{'package'|transloco}}</mat-label>
          <mat-select formControlName="cargoPackageId" [compareWith]="compareFn">
            <mat-option *ngFor="let item of packagesTypes" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>w
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button *ngIf="currentStep !== 3" (click)="nextStep()" [disabled]="loading"
    class="fuse-mat-button-large  ml-3  w-full mt-6" mat-flat-button [color]="'primary'">
    <span *ngIf="!loading">{{'continue'|transloco}}</span>
    <mat-progress-spinner *ngIf="loading" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
  </button>
  <button *ngIf="currentStep == 3" (click)="createOrder()" [disabled]="loading"
    class="fuse-mat-button-large  ml-3  w-full mt-6" mat-flat-button [color]="'primary'">
    <span *ngIf="!loading">{{'create'|transloco}}</span>
    <mat-progress-spinner *ngIf="loading" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
  </button>
</mat-dialog-actions>