<div class="flex justify-between items-center">
    <h2 mat-dialog-title class="font-semibold text-xl uppercase">Подробнее о пользователе</h2>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content class="h-full">
    <div class="max-w-md mx-auto p-4 mt-3  detail-red text-white rounded-lg shadow-lg">
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p><img src="assets/images/icons/info-white.svg" alt="reason" class="h-5 w-5 mr-2"> Причина:</p>
                <p>Текст причины</p>
            </div>
            <div>
                <p><img src="assets/images/icons/clock.svg" alt="clock" class="h-3 w-3 mr-2"> 27.11.2023 в 14:00</p>
                <p>Кем удалено: Admin</p>
            </div>
        </div>
    </div>
    <div *ngIf="archiveUser?.client">
        <div class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-black rounded-lg shadow-md ">
            <div class="flex  w-full justify-between ">
                <div class="flex ">
                    <img src="assets/images/user/user.svg" alt="User Image" class="rounded-full w-16 h-16 mr-2">
                    <div>
                        <p class="text-2xl font-semibold">{{archiveUser?.client.firstName}} {{archiveUser?.client.lastName }}</p>
                        <p class="text-gray-600"># {{archiveUser?.client.id}}</p>
                    </div>
                </div>
                <div class="flex justify-end">
                    <p class="text-gray-600"> 5.0</p>
                    <img src="assets/images/icons/start.svg" alt="star Image" class="rounded-full w-4 h-4 ml-1 mt-1">
                </div>
            </div>
        </div>
        <div class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-black rounded-lg shadow-md">
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p class="text-xl leading-4 mb-1">{{"status"|transloco}}</p>
                    <p class="font-semibold">
                        <span *ngIf="archiveUser?.client.active"> {{"active"|transloco}}</span>
                        <span *ngIf="!archiveUser?.client.active">{{"inactive"|transloco}}</span>
                    </p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"register_date"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.client.createdAt | date:'d MMMM y в HH:mm'}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"balance"|transloco}}</p>
                    <p class="font-semibold">0</p>
                </div>
            </div>
        </div>
        <div class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-black rounded-lg shadow-md">
            <div class="mb-5">
                <h2 class="text-2xl leading-4 font-semibold">{{"information"|transloco}}</h2>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p class="text-xl leading-4 mb-1"> {{"date_birth"|transloco}}</p>
                    <p class="font-semibold">Не указана</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"citizenship"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.client.citizenship}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"city"|transloco}}</p>
                    <p class="font-semibold">Ташкент</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"phone"|transloco}}</p>
                    <p class="font-semibold" *ngIf="archiveUser?.client.phoneNumber">{{archiveUser?.client.phoneNumber}}</p>
                    <p class="font-semibold" *ngIf="archiveUser?.client.phoneNumbers">
                        <span *ngFor="let phoneNumber of archiveUser?.client.phoneNumbers">
                            {{phoneNumber?.phoneNumber}}
                        </span>
                    </p>
                </div>
            </div>
    
            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-semibold">{{"passport"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="previewClient(client.passport)" class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>
        </div>
        <div class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-black rounded-lg shadow-md">
            <div class="mb-5">
                <h2 class="text-2xl leading-4 font-semibold"> {{"contacts"|transloco}}</h2>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div class="col-span-2">
                    <p class="text-xl leading-4 mb-1">{{"email"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.client.email}}</p>
                </div>
            </div>
        </div>
        <!-- <div class="flex justify-end mt-4 px-4">
            <button mat-flat-button [color]="'primary'" [disabled]="!archiveUser?.client.active" (click)="restore(archiveUser)">
                {{"restore"|transloco}}
            </button>
        </div> -->
    </div>
    <div *ngIf="archiveUser?.driver">
        <div class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-black rounded-lg shadow-md ">
            <div class="flex  w-full justify-between ">
                <div class="flex ">
                    <img src="assets/images/user/user.svg" alt="User Image" class="rounded-full w-16 h-16 mr-2">
                    <div>
                        <p class="text-2xl font-semibold">{{archiveUser?.driver.firstName}} {{archiveUser?.driver.lastName }}</p>
                        <p class="text-gray-600"># {{archiveUser?.driver.id}}</p>
                    </div>
                </div>
                <div class="flex justify-end">
                    <p class="text-gray-600"> 5.0</p>
                    <img src="assets/images/icons/start.svg" alt="star Image" class="rounded-full w-4 h-4 ml-1 mt-1">
                </div>
            </div>
        </div>
        <div class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-black rounded-lg shadow-md">
            <div class="mb-5">
                <h2 class="text-2xl leading-4 font-semibold">{{"information"|transloco}}</h2>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p class="text-xl leading-4 mb-1">{{"full_name"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.driver.firstName}} {{archiveUser?.driver.lastName }}ч</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"subscription"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.driver.subscribedAt | date:'dd/mm/yyyy' }}</p>
                </div>
            </div>
        </div>
        <div class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-black rounded-lg shadow-md">
            <div class="mb-5">
                <h2 class="text-2xl leading-4 font-semibold">{{"transport"|transloco}}</h2>
            </div>
    
            <div class="grid grid-cols-2 gap-4" *ngFor="let transport of archiveUser?.driver.driverTransports">
                <div>
                    <p class="text-xl leading-4 mb-1">{{"machine_type"|transloco}}</p>
                    <p class="font-semibold">Тентовка</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"Date"|transloco}}</p>
                    <p class="font-semibold">{{transport?.createdAt}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"adr"|transloco}}</p>
                    <p class="font-semibold">
                        <span *ngIf="transport?.isAdr">
                            {{"yes"|transloco}}
                        </span>
                        <span *ngIf="!transport?.isAdr">
                            {{"no"|transloco}}
                        </span>
                    </p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"state_number_trailer"|transloco}}</p>
                    <p class="font-semibold">{{transport?.stateNumber}}</p>
                </div>
        
            </div>
    
            <div class="grid grid-cols-1 gap-4" *ngFor="let transport of archiveUser?.driver.driverTransports">
                <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                    <div class="w-3/4">
                        <label class="block mb-2 font-semibold">{{"technical_passport"|transloco}}</label>
                    </div>
                    <div class="w-1/4 flex items-center justify-end">
                        <mat-icon (click)="previewDriver(transport.techPassportFrontFilePath)" class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                    </div>
                </div>
                <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                    <div class="w-3/4">
                        <label class="block mb-2 font-semibold">{{"tech_passport_front"|transloco}}</label>
                    </div>
                    <div class="w-1/4 flex items-center justify-end">
                        <mat-icon (click)="previewDriver(transport.techPassportBackFilePath)" class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                    </div>
                </div>
    
                <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                    <div class="w-3/4">
                        <label class="block mb-2 font-semibold">{{"transport_photo"|transloco}}</label>
                    </div>
                    <div class="w-1/4 flex items-center justify-end">
                        <mat-icon (click)="previewDriver(transport.transportFrontFilePath)" class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                    </div>
                </div>
                <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                    <div class="w-3/4">
                        <label class="block mb-2 font-semibold">{{"transport_back_photo"|transloco}}</label>
                    </div>
                    <div class="w-1/4 flex items-center justify-end">
                        <mat-icon (click)="previewDriver(transport.transportBackFilePath)" class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                    </div>
                </div>
    
                <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                    <div class="w-3/4">
                        <label class="block mb-2 font-semibold">{{"transport_side_photo"|transloco}}</label>
                    </div>
                    <div class="w-1/4 flex items-center justify-end">
                        <mat-icon (click)="previewDriver(transport.transportSideFilePath)" class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                    </div>
                </div>
    
                <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                    <div class="w-3/4">
                        <label class="block mb-2 font-semibold">{{"passport"|transloco}}</label>
                    </div>
                    <div class="w-1/4 flex items-center justify-end">
                        <mat-icon (click)="previewDriver(transport.passportFilePath)" class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                    </div>
                </div>
    
                <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                    <div class="w-3/4">
                        <label class="block mb-2 font-semibold">{{"driver_lisense_card"|transloco}}</label>
                    </div>
                    <div class="w-1/4 flex items-center justify-end">
                        <mat-icon (click)="previewDriver(transport.driverLicenseFilePath)" class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                    </div>
                </div>
                <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                    <div class="w-3/4">
                        <label class="block mb-2 font-semibold">{{"good_transportation_lisense"|transloco}}</label>
                    </div>
                    <div class="w-1/4 flex items-center justify-end">
                        <mat-icon (click)="previewDriver(transport.goodsTransportationLicenseCardFilePath)" class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-black rounded-lg shadow-md">
            <div class="mb-5 flex">
                <h2 class="text-2xl leading-4 font-semibold"> {{"driver_contact"|transloco}}
                </h2>
                <img src="assets/images/icons/telegram.svg" alt="" class="ml-auto h-7 w-7">
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p class="text-xl leading-4 mb-1">{{"phone"|transloco}}</p>
                    <p class="font-semibold" *ngIf="archiveUser?.driver.phoneNumber">{{archiveUser?.driver.phoneNumber}}</p>
                    <p class="font-semibold" *ngIf="archiveUser?.driver.phoneNumbers">
                        <span *ngFor="let phoneNumber of archiveUser?.driver.phoneNumbers">
                            {{phoneNumber?.phoneNumber}}
                        </span>
                    </p>
                    <p class="font-semibold">Подтвержден</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"email"|transloco}}</p>
                    <p class="font-semibold"> {{archiveUser?.driver.email}}</p>
                </div>
            </div>
        </div>
        <div class="flex justify-end mt-4 px-4">
            <button mat-flat-button [color]="'primary'" (click)="block()">
                {{"block"|transloco}}
            </button>
        </div>
 
    </div>
    <div *ngIf="archiveUser?.clientMerchant">
        <div class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-black rounded-lg shadow-md">
            <div class="mb-5">
                <h2 class="text-2xl leading-4 font-semibold">{{"information"|transloco}}</h2>
            </div>
            <div class="gap-4 ">
                <div>
                    <p class="text-xl leading-4 mb-1">{{"director_first_name"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.supervisorFirstName}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"director_last_name"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.supervisorLastName}}</p>
                </div>

                <div>
                    <p class="text-xl leading-4 mb-1">{{"response_first_name"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.responsiblePersonLastName}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"response_last_name"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.responsiblePersonFistName}}</p>
                </div>
                <div class="col-span-2">
                    <p class="text-xl leading-4 mb-1">{{"email"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.email}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"phone"|transloco}}</p>
                    <p class="font-semibold" *ngIf="archiveUser?.clientMerchant.phoneNumber">{{archiveUser?.clientMerchant.phoneNumber}}</p>
                    <p class="font-semibold" *ngIf="archiveUser?.clientMerchant.phoneNumbers">
                        <span *ngFor="let phoneNumber of archiveUser?.clientMerchant.phoneNumbers">
                            {{phoneNumber?.phoneNumber}}
                        </span>
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p class="text-xl leading-4 mb-1">{{"status"|transloco}}</p>
                    <p class="font-semibold">
                        <span *ngIf="archiveUser?.clientMerchant.active"> {{"active"|transloco}}</span>
                        <span *ngIf="!archiveUser?.clientMerchant.active">{{"inactive"|transloco}}</span>
                    </p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"register_date"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.createdAt | date:'d MMMM y в HH:mm'}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"company"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.companyName}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"company_type"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.companyType}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"mfo"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.mfo}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"oked"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.oked}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"inn"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.inn}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"legal_address"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.legalAddress}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"actual_address"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.clientMerchant.factAddress}}</p>
                </div>
            </div>
        </div>
        <!-- <div class="flex justify-end mt-4 px-4">
            <button mat-flat-button [color]="'primary'" (click)="restore(archiveUser)">
                {{"restore"|transloco}}
            </button>
        </div> -->
    </div>
    <div *ngIf="archiveUser?.agent">
        <div class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-black rounded-lg shadow-md">
            <div class="mb-5">
                <h2 class="text-2xl leading-4 font-semibold">{{"information"|transloco}}</h2>
            </div>
       
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p class="text-xl leading-4 mb-1">{{"status"|transloco}}</p>
                    <p class="font-semibold">
                        <span *ngIf="archiveUser?.agent.active"> {{"active"|transloco}}</span>
                        <span *ngIf="!archiveUser?.agent.active">{{"inactive"|transloco}}</span>
                    </p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"register_date"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.agent.createdAt | date:'d MMMM y в HH:mm'}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"company"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.agent.companyName}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"username"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.agent.companyType}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"director_first_name"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.agent.managerFirstName}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"director_last_name"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.agent.managerLastName}}</p>
                </div>
        
                <div>
                    <p class="text-xl leading-4 mb-1">{{"legal_address"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.agent.legalAddress}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"actual_address"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.agent.physicalAddress}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"mfo"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.agent.mfo}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"inn"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.agent.inn}}</p>
                </div>

                <div>
                    <p class="text-xl leading-4 mb-1">{{"oked"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.agent.oked}}</p>
                </div>
            </div>

            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-semibold">{{"registration_certificate"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="previewAgent(archiveUser?.agent.registrationCertificateFilePath)" class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>

            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-semibold">{{"passport"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="previewAgent(archiveUser?.agent.managerPassportFilePath)" class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>
        </div>
        <!-- <div class="flex justify-end mt-4 px-4">
            <button mat-flat-button [color]="'primary'" (click)="restore(archiveUser)">
                {{"restore"|transloco}}
            </button>
        </div> -->
    </div>
    <div *ngIf="archiveUser?.staff ">
        <div class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-black rounded-lg shadow-md">
            <div class="mb-5">
                <h2 class="text-2xl leading-4 font-semibold">{{"information"|transloco}}</h2>
            </div>
       
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p class="text-xl leading-4 mb-1">{{"status"|transloco}}</p>
                    <p class="font-semibold">
                        <span *ngIf="archiveUser?.staff.active"> {{"active"|transloco}}</span>
                        <span *ngIf="!archiveUser?.staff.active">{{"inactive"|transloco}}</span>
                    </p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"register_date"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.staff.createdAt | date:'d MMMM y в HH:mm'}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"phone"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.staff.phone}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"username"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.staff.companyType}}</p>
                </div>
                <div>
                    <p class="text-xl leading-4 mb-1">{{"full_name"|transloco}}</p>
                    <p class="font-semibold">{{archiveUser?.staff.fullName}}</p>
                </div>
            </div>
        </div>
        <!-- <div class="flex justify-end mt-4 px-4">
            <button mat-flat-button [color]="'primary'" (click)="restore(archiveUser)">
                {{"restore"|transloco}}
            </button>
        </div> -->
    </div>
</mat-dialog-content>