<div class="flex justify-between items-center">
    <p mat-dialog-title *ngIf="!edit" class="font-bold text-2xl uppercase">{{"add_transport_cargo"|transloco}}</p>
    <p mat-dialog-title *ngIf="edit" class="font-bold text-2xl uppercase">{{"edit_transport_cargo"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="flex">
            <div class="w-1/2 px-2 ">
                <mat-form-field color="accent" class="w-full">
                    <input matInput placeholder="{{ 'name' | transloco }}" formControlName="name"
                        [ngClass]="{'is-invalid': f.name.errors}">
                    <mat-error *ngIf="f.name.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-slide-toggle class="py-2" formControlName="isMode">
                    {{"is_mode"|transloco}}
                </mat-slide-toggle>
            </div>
            <div class="w-1/2 px-2">
                <mat-form-field color="accent" class="w-full">
                    <input matInput placeholder="{{ 'count' | transloco }}" type="number" formControlName="count"
                        [ngClass]="{'is-invalid': f.count.errors}">
                    <mat-error *ngIf="f.count.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field color="accent" class="w-full">
                    <textarea matInput placeholder="{{ 'description' | transloco }}" formControlName="description"
                        [ngClass]="{'is-invalid': f.description.errors}"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end justify-items-end">
    <button mat-flat-button class="fuse-mat-button " [color]="'warn'" mat-dialog-close tabindex="-1">
        {{ 'cancel' | transloco }}</button>
    <button
        [ngClass]="{'fuse-mat-button text-white': form.invalid || form.pristine, 'fuse-mat-button dark': !form.invalid && !form.pristine}"
        mat-flat-button [color]="'primary'" [disabled]="form.invalid || form.pristine" (click)="submit()">
        {{ 'save' | transloco }}
    </button>
</mat-dialog-actions>