<div class="flex flex-col flex-auto">
    <div class="flex-auto ">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{"merchant_client"|transloco}}</div>
            </div>
            <div class="flex items-center ml-6">
                <button class=" sm:inline-flex ml-3 " *ngIf="hasPermission('clientMerchantFinance')"  [color]="'primary'" mat-flat-button (click)="requests()">
                    <span class="ml-2">requests</span>
                </button>
            </div>
        </div>
        <div class="flex items-baseline flex-wrap">
            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'ID' | transloco }}" name="ID" [(ngModel)]="filters.merchantid">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'company_name' | transloco }}" name="ID"
                    [(ngModel)]="filters.companyName">
            </mat-form-field>
            
            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput [matDatepicker]="picker1" [(ngModel)]="filters.createdAtFrom"
                    placeholder="{{ 'start_date_reg' | transloco }}">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput [matDatepicker]="picker" [(ngModel)]="filters.createdAtTo"
                    placeholder="{{ 'end_date_reg' | transloco }}">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div class="px-1">
                <button mat-flat-button color="warn" class="" (click)="clearFilters()">
                    {{ 'clear' | transloco }}</button>
            </div>
            <div class=" px-1">
                <button mat-flat-button color="warn" (click)="getAllMerchants()">
                    {{ 'filter' | transloco }}</button>
            </div>
        </div>
        <div class="mt-4  shadow-table">
            <mat-table matSort [dataSource]="dataSource">

                <ng-container matColumnDef="index">
                    <mat-header-cell class="font-bold" *matHeaderCellDef> No </mat-header-cell>
                    <mat-cell class="index-column" *matCellDef="let row; let i=index"> {{ i + 1 }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell class="font-bold" *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell class="index-column" *matCellDef="let row"> {{ row?.id }} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="full_name">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"full_name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.supervisorFirstName}} {{
                        row?.supervisorLastName}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="companyName">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"company_name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.companyName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="entity">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"tax_payer_code"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.taxPayerCode}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="balance">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"balance"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.balance}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="loads">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"loads"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.loads}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="last_enter">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"last_enter"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.last_inter}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"status"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button *ngIf="!row?.blocked"
                            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full">
                        </button>
                        <button *ngIf="row?.blocked"
                            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full">
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item color="accent" [routerLink]="['edit', row.id]">
                                    <mat-icon>list</mat-icon>
                                    {{"list"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" *ngIf="!row.blocked" (click)="block(row.id)">
                                    <mat-icon>lock</mat-icon>
                                    {{"block"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" *ngIf="row.blocked" (click)="active(row.id)">
                                    <mat-icon>lock_open</mat-icon>
                                    {{"unblock"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" (click)="delete(row.id)">
                                    <mat-icon>remove</mat-icon>
                                    {{"remove"|transloco}}
                                </button>

                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" [routerLink]="['edit', row.id]" class="user-row darken-on-hover">
                </mat-row>
            </mat-table>

            <app-no-data-placeholder *ngIf="!dataSource.data.length" class="m-1">
            </app-no-data-placeholder>
            <mat-paginator [showFirstLastButtons]="true" (page)="onPageChange($event)" [length]="pageParams.totalPagesCount-1"
                [pageSize]="pageParams.limit" [pageIndex]="pageParams.page" [pageSizeOptions]="[10, 20, 50, 100, 200]">
            </mat-paginator>
        </div>
    </div>
</div>