<div class="w-full">
    <div class="flex items-center justify-between">
        <div class="text-3xl font-semibold tracking-tight leading-8">{{"tracking"|transloco}}</div>
        <div class="flex items-center ml-6">
            <button class="fuse-mat-button-large  ml-3" [color]="'primary'" mat-flat-button (click)="detail()">
                <span class="ml-2">Detail</span>
            </button>
        </div>
    </div>
    <div class="flex justify-between text-xl text-black mb-5">
        <div>
            <div class="text-2xl font-semibold tracking-tight leading-3">Статус</div>
            <div class="flex   gap-2 mt-4">
                <button class="justify-center px-3 py-1 text-white bg-orange-500 rounded-full max-md:px-5">
                    Все
                </button>
                <button class=" justify-center px-3 py-1 rounded-full bg-teal-500 bg-opacity-20 max-md:px-5">
                    Свободные
                </button>
                <button class=" justify-center px-3 py-1 rounded-full bg-amber-400 bg-opacity-20 max-md:px-5">
                    В ожидании
                </button>
                <button
                    class=" justify-center px-3 py-1 rounded-full border border-black border-solid shadow-sm bg-cyan-700 bg-opacity-20 max-md:px-5">
                    На заказе
                </button>
            </div>
        </div>
        <div>
            <div class="text-2xl font-semibold tracking-tight leading-3">Транспорт</div>
            <div class="flex gap-2  mt-4">
                <button class="justify-center px-3 py-1 text-white bg-orange-500 rounded-full max-md:px-5">
                    Все
                </button>
                <button class=" justify-center px-3 py-1 bg-gray-200 rounded-full max-md:px-5">
                    Тентовка
                </button>
                <button class=" justify-center px-3 py-1 bg-gray-200 rounded-full max-md:px-5">
                    Рефрижератор
                </button>
                <button class=" justify-center px-3 py-1 bg-gray-200 rounded-full max-md:px-5">
                    Автопоезд
                </button>
                <button class=" justify-center px-3 py-1 bg-gray-200 rounded-full max-md:px-5">
                    Контейнеровоз
                </button>
                <button class=" justify-center px-3 py-1 bg-gray-200 rounded-full max-md:px-5">
                    Автовоз
                </button>
            </div>
        </div>
    </div>
    <div class="w-full h-screen-minus-200">
        <ya-map class="w-full h-full" [center]="[41.2995, 69.2401]" [zoom]="12"></ya-map>
    </div>
</div>