<div class="flex justify-between items-center">
    <p mat-dialog-title *ngIf="!edit" class="font-bold text-2xl uppercase">{{"add_admins"|transloco}}</p>
    <p mat-dialog-title *ngIf="edit" class="font-bold text-2xl uppercase">{{"edit_admins"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="grid grid-cols-2 gap-4">
            <div class="p-3">
                <mat-form-field color="accent" class="w-full">
                    <input matInput placeholder="{{ 'full_name' | transloco }}" formControlName="fullName"
                        [ngClass]="{'is-invalid': f.fullName.errors}">
                    <mat-error *ngIf="f.fullName.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-select placeholder="{{ 'role' | transloco }}" formControlName="roleId">
                        <ng-container *ngFor="let row of roles">
                            <mat-option [value]="row.id">{{row.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field color="accent" class="w-full">
                    <input matInput placeholder="{{ 'password' | transloco }}" formControlName="password"
                        [ngClass]="{'is-invalid': f.password.errors}">
                    <mat-error *ngIf="f.password.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                    <mat-error *ngIf="f.password.errors?.maxlength">
                        Максимальная длина поля 6
                    </mat-error>
               
                </mat-form-field>
            </div>
            <div class="p-3">
                <mat-form-field color="accent" class="w-full">
                    <ngx-mat-intl-tel-input  placeholder="{{ 'phone' | transloco }}" [cssClass]="'custom'" formControlName="phone" [preferredCountries]="['uz']"
                        [enablePlaceholder]="true" [enableSearch]="true" name="phone" #phone>
                    </ngx-mat-intl-tel-input>
                </mat-form-field>
                <mat-form-field color="accent" class="w-full">
                    <input matInput formControlName="username"  placeholder="{{ 'login' | transloco }}" [ngClass]="{'is-invalid': f.username.errors}">
                    <mat-error *ngIf="f.username.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                </mat-form-field>
                <div class="flex items-center p-2">
                    <button mat-flat-button type="button" class="fuse-mat-button  text-white" [color]="'warn'"
                        (click)="generate()">
                        {{ 'generate' | transloco }}</button>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex">
    <div class="ml-auto p-4">
        <button mat-flat-button class="fuse-mat-button " [color]="'warn'" mat-dialog-close tabindex="-1">
            {{ 'cancel' | transloco }}</button>
        <button
            [ngClass]="{'fuse-mat-button text-white': form.invalid || form.pristine, 'fuse-mat-button ': !form.invalid && !form.pristine}"
            mat-flat-button [color]="'primary'" [disabled]="form.invalid || form.pristine" (click)="submit()">
            {{ 'save' | transloco }}
        </button>
    </div>
</mat-dialog-actions>