<div class="flex flex-col flex-auto ">
    <div class="flex-auto border-t ">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{"drivers"|transloco}}</div>
            </div>
            <div class="flex items-center ml-6">
                <div class="flex flex-row " *ngFor="let balance of balances">
                    <div class="mx-3 text-center">
                        <div class="text-sm font-semibold">Активный баланс</div>
                        <div class="text-sm font-semibold"><span>{{balance?.currencyname}}</span>:
                            <span>{{balance?.activebalance}}</span>
                        </div>
                    </div>
                    <div class="mx-3 text-center">
                        <div class="text-sm font-semibold">Замороженный баланс</div>
                        <div class="text-sm font-semibold"><span>{{balance?.currencyname}}</span>:
                            <span>{{balance?.frozenbalance}}</span>
                        </div>
                    </div>
                </div>
                <button class="hidden sm:inline-flex ml-3 " [color]="'primary'" mat-flat-button (click)="connect()">
                    <span class="ml-2">connect Driver</span>
                </button>
                <button class="hidden sm:inline-flex ml-3 " [color]="'primary'" mat-flat-button (click)="transaction()">
                    <span class="ml-2">Transaction</span>
                </button>
                <button class="hidden sm:inline-flex ml-3 " [color]="'primary'" mat-flat-button (click)="addBalanse()">
                    <span class="ml-2">Balanse</span>
                </button>
                <button class="hidden sm:inline-flex ml-3 " [color]="'primary'" mat-flat-button (click)="detail()">
                    <span class="ml-2">Detail</span>
                </button>
            </div>
        </div>

        <div class="flex items-baseline   w-full  ">

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'id' | transloco }}">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'name' | transloco }}">
            </mat-form-field>
            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'phone' | transloco }}">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'register_date' | transloco }}">
            </mat-form-field>

            <div class="px-1">
                <button mat-flat-button color="warn" class="">
                    {{ 'clear' | transloco }}</button>
            </div>
            <div class="px-1">
                <button mat-flat-button color="warn">
                    {{ 'filter' | transloco }}</button>
            </div>
        </div>
        <div class="mt-4">
            <mat-table matSort [dataSource]="dataSource">
                <ng-container matColumnDef="full_name">
                    <mat-header-cell *matHeaderCellDef> {{"full_name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.firstName}} {{ row?.lastName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef> {{"phone"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngFor="let phoneNumber of row.phoneNumbers" class="px-2">
                            {{phoneNumber?.phoneNumber}}
                        </span>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="register_date">
                    <mat-header-cell *matHeaderCellDef> {{"register_date"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.createdAt | date: 'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="last_enter">
                    <mat-header-cell *matHeaderCellDef> {{"last_enter"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.last_inter}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #moreMenu="matMenu">
                                <!-- <button mat-menu-item color="accent" (click)="addSubsciption(row.id)">
                                    <mat-icon>notification_important</mat-icon>
                                    {{"subscription"|transloco}}
                                </button> -->
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns">
                </mat-row>
            </mat-table>
            <app-no-data-placeholder *ngIf="!dataSource.data.length">
            </app-no-data-placeholder>
            <mat-paginator [showFirstLastButtons]="true" [length]="dataSource.data.length"
                [pageSizeOptions]="[10, 20, 50, 100, 200]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>