<div class="flex flex-col flex-auto ">
    <div class="flex-auto  ">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{"drivers"|transloco}}</div>
            </div>
            <div class="flex items-center ml-6">
                <div class="flex flex-row " *ngFor="let balance of balances">
                    <div class="mx-3 text-center">
                        <div class="text-sm font-semibold">{{ 'active_balance' | transloco }}</div>
                        <div class="text-sm font-semibold"><span>{{balance?.currencyname}}</span>:
                            <span>{{balance?.activebalance}}</span>
                        </div>
                    </div>
                    <div class="mx-3 text-center">
                        <div class="text-sm font-semibold">{{ 'frozen_balance' | transloco }}</div>
                        <div class="text-sm font-semibold"><span>{{balance?.currencyname}}</span>:
                            <span>{{balance?.frozenbalance}}</span>
                        </div>
                    </div>
                </div>
                <button class="hidden sm:inline-flex ml-3" [color]="'primary'"
                    *ngIf="hasPermission('attachDriverAgent')" mat-flat-button (click)="connect()">
                    <span class="ml-2">{{ 'connect_driver' | transloco }}</span>
                </button>
                <button class="hidden sm:inline-flex ml-3" *ngIf="hasPermission('seeSubscriptionTransactionAgent')"
                    [color]="'primary'" mat-flat-button (click)="transaction()">
                    <span class="ml-2">{{ 'transaction' | transloco }}</span>
                </button>
                <button class="hidden sm:inline-flex ml-3" *ngIf="hasPermission('addBalanceAgent')" [color]="'primary'"
                    mat-flat-button (click)="addBalanse()">
                    <span class="ml-2">{{ 'balance' | transloco }}</span>
                </button>
            </div>
        </div>
        <div class="flex items-baseline w-full">

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'ID' | transloco }}" [(ngModel)]="filters.driverId" name="driverId">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'firstName' | transloco }}" [(ngModel)]="filters.firstName" name="firstName">
            </mat-form-field>
            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'phone' | transloco }}" [(ngModel)]="filters.phoneNumber" name="phoneNumber">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput [matDatepicker]="picker1" [(ngModel)]="filters.createdAtFrom"
                    placeholder="{{ 'start_date_reg' | transloco }}">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput [matDatepicker]="picker" [(ngModel)]="filters.createdAtTo"
                    placeholder="{{ 'end_date_reg' | transloco }}">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div class="px-1">
                <button mat-flat-button color="warn" (click)="clearFilters()">
                    {{ 'clear' | transloco }}</button>
            </div>
            <div class="px-1">
                <button mat-flat-button color="warn" (click)="getAllAgentsDrivers()">
                    {{ 'filter' | transloco }}</button>
            </div>
        </div>
        <div class="mt-4  shadow-table">
            <mat-table matSort [dataSource]="dataSource">

                <ng-container matColumnDef="index">
                    <mat-header-cell class="font-bold" *matHeaderCellDef> No </mat-header-cell>
                    <mat-cell class="index-column" *matCellDef="let row; let i=index"> {{ i + 1 }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell class="font-bold" *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell class="index-column" *matCellDef="let row"> {{ row?.id }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="full_name">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"full_name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.firstName}} {{ row?.lastName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"phone"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngFor="let phoneNumber of row.phoneNumbers" class="px-2">
                            {{phoneNumber?.phoneNumber}}
                        </span>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="register_date">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"register_date"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.createdAt | date: 'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="last_enter">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"last_enter"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.last_inter}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item color="accent" (click)="detail(row.id)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                    {{"detail"|transloco}}
                                </button>
                                <!-- <button mat-menu-item color="accent" (click)="addSubsciption(row.id)">
                                    <mat-icon>notification_important</mat-icon>
                                    {{"subscription"|transloco}}
                                </button> -->
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns">
                </mat-row>
            </mat-table>
            <app-no-data-placeholder *ngIf="!dataSource.data.length" class="m-1">
            </app-no-data-placeholder>
            <mat-paginator [showFirstLastButtons]="true" (page)="onPageChange($event)"
                [length]="pageParams.totalPagesCount *pageParams.pageSize" [pageSize]="pageParams.pageSize"
                [pageIndex]="pageParams.pageIndex-1" [pageSizeOptions]="[10, 20, 50, 100, 200]">
            </mat-paginator>
        </div>
    </div>
</div>