  .container {
  	height: calc(100% - 200px);
  	width: inherit;
  	display: flex;
  	align-items: center;
  	justify-content: center;
	background-color: white;
  	background: url("../../../../assets/images/no-data.avif") no-repeat;
  	background-position: center;
  	background-size: auto;
  }

  .text {
  	font-weight: normal;
  	font-size: 19px;
  	line-height: 17px;
  	text-align: center;
  	color: #b4bcc9;
  }