<div class="flex flex-col flex-auto ">
    <div class="flex-auto border-t ">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{"agents"|transloco}}</div>
            </div>
            <div class="flex items-center ml-6">
                <button class="hidden sm:inline-flex ml-3 " [color]="'primary'" mat-flat-button (click)="add()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">Add</span>
                </button>
            </div>
        </div>
        <div class="flex items-baseline  flex-wrap">
            <mat-form-field color="accent" class="w-50 px-1">
              <input matInput placeholder="{{ 'ID' | transloco }}" name="ID" [(ngModel)]="filters.merchantid">
            </mat-form-field>
      
            <mat-form-field color="accent" class="w-50 px-1">
              <input matInput placeholder="{{ 'company_name' | transloco }}"   name="company_name" [(ngModel)]="filters.companyName">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
              <mat-date-range-input   [rangePicker]="picker">
                  <input matStartDate placeholder="{{ 'start_date' | transloco }}" [(ngModel)]="filters.createdFrom">
                  <input matEndDate placeholder="{{ 'end_date' | transloco }}" [(ngModel)]="filters.createdAtTo">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
      
            <div class="px-1">
              <button mat-flat-button color="warn" class="" (click)="clearFilters()">
                {{ 'clear' | transloco }}</button>
            </div>
            <div class=" px-1">
              <button mat-flat-button color="warn" (click)="getAllagents()">
                {{ 'filter' | transloco }}</button>
            </div>
        </div>
        <div class="mt-4 h-100 ">
            <mat-table matSort [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> {{"ID"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="full_name">
                    <mat-header-cell *matHeaderCellDef> {{"full_name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.managerFirstName}} {{ row?.managerLastName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="login">
                    <mat-header-cell *matHeaderCellDef> {{"login"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.username}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="register_date">
                    <mat-header-cell *matHeaderCellDef> {{"register_date"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.createdAt | date: 'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="last_enter">
                    <mat-header-cell *matHeaderCellDef> {{"last_enter"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.last_inter | date: 'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef> {{"status"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button *ngIf="row?.active"
                            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full">
                        </button>
                        <button *ngIf="!row?.active"
                            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full">
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item color="accent" (click)="edit(row)">
                                    <mat-icon>edit</mat-icon>
                                    {{"edit"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" [routerLink]="['/agents',row?.id]">
                                    <mat-icon>list</mat-icon>
                                    {{"driver"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" *ngIf="row.active" (click)="block(row.id)">
                                    <mat-icon>lock</mat-icon>
                                    {{"block"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" *ngIf="!row.active" (click)="active(row.id)">
                                    <mat-icon>lock_open</mat-icon>
                                    {{"unblock"|transloco}}
                                </button>
                                <button mat-menu-item color="warn" (click)="delete(row.id)">
                                    <mat-icon>remove</mat-icon>
                                   {{"delete"|transloco}}
                               </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns">
                </mat-row>
            </mat-table>

                 <app-no-data-placeholder *ngIf="!dataSource.data.length" class="m-1">
            </app-no-data-placeholder>
            <mat-paginator [showFirstLastButtons]="true" [length]="dataSource.data.length"
                [pageSizeOptions]="[10, 20, 50, 100, 200]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>