<div class="flex flex-col flex-auto ">
    <div class="flex-auto  ">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{"agents"|transloco}}</div>
            </div>
            <div class="flex items-center ml-6">
                 <button class="fuse-mat-button-large  ml-3 " mat-flat-button [color]="'primary'"
                    (click)="showFilter = !showFilter">
                    <mat-icon>search</mat-icon>
                    {{ 'search' | transloco }}
                </button>
                <button class="fuse-mat-button-large  ml-3 " [color]="'primary'" mat-flat-button (click)="add()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">{{ 'add' | transloco }}</span>
                </button>
                <!-- <button class="fuse-mat-button-large  ml-3" *ngIf="hasPermission('addBalanceAgent')" [color]="'primary'"
                    mat-flat-button (click)="addBalanse()">
                    <span class="ml-2">{{ 'balance' | transloco }}</span>
                </button> -->
            </div>
        </div>
        <div class="flex items-baseline  flex-wrap" [@showHideFilter]="showFilter ? 'show' : 'hide'">
            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'ID' | transloco }}" name="ID" [(ngModel)]="filters.agentId">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'username' | transloco }}" name="username"
                    [(ngModel)]="filters.username">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput [matDatepicker]="picker1" [(ngModel)]="filters.createdAtFrom"
                    placeholder="{{ 'start_date_reg' | transloco }}">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput [matDatepicker]="picker" [(ngModel)]="filters.createdAtTo"
                    placeholder="{{ 'end_date_reg' | transloco }}">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div class="px-1">
                <button class="fuse-mat-button-large" mat-flat-button [color]="'warn'" (click)="clearFilters()">
                    {{ 'clear' | transloco }}</button>
            </div>
            <div class=" px-1">
                <button class="fuse-mat-button-large" mat-flat-button [color]="'warn'" (click)="getAllAgents()">
                    {{ 'filter' | transloco }}</button>
            </div>
        </div>
        <div class="mt-4 h-100 ">
            <mat-table matSort [dataSource]="dataSource">
                <ng-container matColumnDef="index">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef> No </mat-header-cell>
                    <mat-cell class="dark:text-white" *matCellDef="let row; let i=index"> {{ i + 1 }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell class="dark:text-white" *matCellDef="let row"> {{ row?.id }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="full_name">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"full_name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.managerFirstName}} {{ row?.managerLastName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="login">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"login"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.username}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="register_date">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"register_date"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.createdAt | date: 'dd/MM/yyyy HH:mm'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="last_enter">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"last_enter"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.last_inter | date: 'dd/MM/yyyy HH:mm'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"status"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button *ngIf="!row?.blocked"
                            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full">
                        </button>
                        <button *ngIf="row?.blocked"
                            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full">
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item color="accent" (click)="edit(row)">
                                    <mat-icon>edit</mat-icon>
                                    {{"edit"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" [routerLink]="['/agents',row?.id]">
                                    <mat-icon>list</mat-icon>
                                    {{"drivers"|transloco}}
                                </button>
                                <!-- <button mat-menu-item color="accent" (click)="addBalanse(row.id)">
                                    <mat-icon>
                                        attach_money
                                    </mat-icon>
                                    {{"balance"|transloco}}
                                </button> -->
                                <button mat-menu-item color="accent" *ngIf="!row?.blocked" (click)="block(row.id)">
                                    <mat-icon>lock</mat-icon>
                                    {{"block"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" *ngIf="row.blocked" (click)="active(row.id)">
                                    <mat-icon>lock_open</mat-icon>
                                    {{"unblock"|transloco}}
                                </button>
                                <button mat-menu-item color="warn" (click)="delete(row.id)">
                                    <mat-icon>remove</mat-icon>
                                    {{"delete"|transloco}}
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" (click)="detail(row.id)">
                </mat-row>
            </mat-table>

            <app-no-data-placeholder *ngIf="!dataSource.data.length" class="m-1">
            </app-no-data-placeholder>
            <mat-paginator [showFirstLastButtons]="true" (page)="onPageChange($event)"
                [length]="pageParams.totalPagesCount*pageParams.pageSize" [pageSize]="pageParams.pageSize"
                [pageIndex]="pageParams.pageIndex-1" [pageSizeOptions]="[10, 20, 50, 100, 200]">
            </mat-paginator>
        </div>
    </div>
</div>