@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css?family=Roboto');

.card-background-grey {
    background-color: #F3F3F3;
}

.card-background-black {
    background-color: #000000;
    color: white;

    p {
        color: #f3f3f3;
    }
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: white !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: orange !important;
}

::ng-deep mat-radio-group mat-radio-button .radio_button {
    color: #d81a0d;
}

.gray-main {
    background-color: #DBDBDB;
}

body {
    font-family: 'Roboto', sans-serif;
}

.mat-mdc-dialog-content {
    padding: 0 !important;
}


.mdc-dialog__title {
    padding: 0 11px 9px !important;
}


.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 14px !important;
    padding: 14px !important;
}

.mdc-dialog__actions {
    padding: 0px !important;
}

.mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    justify-content: end;
    float: right;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


.mat-table {
    background-color: white;
  }
  
  .mat-row,
  .mat-header-row,
  .mat-footer-row {
    background-color: white;
  }