@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif !important;
}

.bg-gray-50 dark:text-black {
  background-color: #F3F3F3;
}

.card-background-black {
  background-color: #000000;
  color: white;

  p {
    color: #f3f3f3;
  }
}

.mat-column-index,
.mat-column-id {
  white-space: unset !important;
  flex: 0 0 3% !important;
  width: 3% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: white !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: orange !important;
}

::ng-deep mat-radio-group mat-radio-button .radio_button {
  color: #d81a0d;
}

.gray-main {
  background-color: #DBDBDB;
}


.mat-mdc-dialog-content {
  padding: 0 !important;
}


.mdc-dialog__title {
  padding: 0 11px 9px !important;
}


.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 14px !important;
  padding: 14px !important;
}

.mdc-dialog__actions {
  padding: 0px !important;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  justify-content: end;
  float: right;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.light-blue {
  background-color: #14B8A6;
}

.light-orange {
  background-color: #F97C00;
}

.light-yellow {
  background-color: #F7C02B;
}

.light-gray {
  background-color: #167694;
}


.country-selector {
  opacity: 1 !important;
  bottom: 8px !important;
}

ngx-mat-intl-tel-input div button {
  margin: 4px;
}

.mat-mdc-outlined-button .mat-mdc-button-ripple,
.mat-mdc-outlined-button .mdc-button__ripple {
  border-color: red;
}

input[type="tel"] {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  width: 100%;
  box-sizing: border-box;
  padding: 0 6px 0 75px !important;
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0;
  margin-left: 0;
}


mat-form-field.mat-focused mat-placeholder {
  color: #ccc;
}

mat-form-field:not(.mat-focused) mat-placeholder {
  color: #999;
}

::ng-deep input[type=number]::-webkit-inner-spin-button,
::ng-deep input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  appearance: none !important;
}

:host ::ng-deep .status-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 10px;
}

:host ::ng-deep .status-order-blue {
  background: #003366 !important;
  color: white !important;
}

:host ::ng-deep .status-order-yellow {
  background: #F7C02B !important;
  color: white !important;
}

:host ::ng-deep .status-order-green {
  background: #1da706 !important;
  color: white !important;
}

:host ::ng-deep .status-order-red {
  background: #D71010 !important;
  color: white !important;
}

:host ::ng-deep .status-order-info {
  background: #006400 !important;
  color: white !important;
}

::ng-deep .index-column {
  flex: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 50px !important;
}

:host ::ng-deep .loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mat-mdc-table mat-header-row.mat-mdc-header-row,
.mat-mdc-table mat-row.mat-mdc-row,
.mat-mdc-table mat-footer-row.mat-mdc-footer-cell {
  cursor: pointer !important;
}

.mat-mdc-table mat-header-row.mat-mdc-header-row:nth-child(odd),
.mat-mdc-table mat-row.mat-mdc-row:nth-child(odd),
.mat-mdc-table mat-footer-row.mat-mdc-footer-cell:nth-child(odd) {
  height: unset;
  background: #F3F3F3 !important;
}

.mat-mdc-table mat-header-row.mat-mdc-header-row:nth-child(odd):hover,
.mat-mdc-table mat-row.mat-mdc-row:nth-child(odd):hover,
.mat-mdc-table mat-footer-row.mat-mdc-footer-cell:nth-child(odd):hover {
  cursor: pointer;
  background: #F3F3F3 !important;
}

.mat-column-index {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-id {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.shadow-table {
  border: 2px solid #E2E2E2DB !important;
  align-self: stretch;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}