<div class="flex flex-col flex-auto ">
  <div class="flex-auto  ">
    <div class="flex items-center justify-between w-full">
      <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">Грузы</div>
      </div>
      <div class="flex items-center ml-6">
        <!-- <button (click)="detail()" class="hidden sm:inline-flex mr-3 "  mat-flat-button [color]="'primary'">
          detail
        </button> -->
        <button (click)="createOrderModal()" mat-flat-button [color]="'primary'">
          <mat-icon>add</mat-icon>
          Разместить груз
        </button>
      </div>
    </div>
    <div class="flex items-baseline  flex-wrap">
      <mat-form-field color="accent" class="w-50 px-1">
        <input matInput placeholder="{{ 'ID' | transloco }}" name="ID" [(ngModel)]="filters.orderId">
      </mat-form-field>

      <mat-form-field color="accent" class="w-50 px-1">
        <input matInput placeholder="{{ 'StatusID' | transloco }}" name="StatusID" [(ngModel)]="filters.statusId">
      </mat-form-field>

      <mat-form-field color="accent" class="w-50 px-1">
        <input matInput placeholder="Место отправки груза" name="loadingLocation" [(ngModel)]="filters.loadingLocation">
      </mat-form-field>

      <mat-form-field color="accent" class="w-50 px-1">
        <input matInput placeholder="Место доставки груза" name="deliveryLocation"
          [(ngModel)]="filters.deliveryLocation">
      </mat-form-field>

      <mat-form-field color="accent" class="w-50 px-1">
        <mat-select placeholder="{{ 'transport_type' | transloco }}" [(ngModel)]="filters.transportTypeId"
          name="transportTypeId">
          <mat-option *ngFor="let item of transportTypes ; " [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent" class="w-50 px-1">
        <mat-select placeholder="{{ 'transport_cargo' | transloco }}" [(ngModel)]="filters.transportKindId"
          name="transportKindId">
          <mat-option *ngFor="let item of transportKinds ; " [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent" class="w-50 px-1">
        <mat-select placeholder="{{ 'merchant_order' | transloco }}" name="merchantOrder"
          [(ngModel)]="filters.merchantOrder">
          <mat-option value="true">{{ 'merchant_order' | transloco }}</mat-option>
          <mat-option value="false">{{ 'no_merchant_order' | transloco }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="px-1">
        <button mat-flat-button color="warn" class="" (click)="clearFilters()">
          {{ 'clear' | transloco }}</button>
      </div>
      <div class=" px-1">
        <button mat-flat-button color="warn" (click)="getOrders()">
          {{ 'filter' | transloco }}</button>
      </div>
    </div>
    <div class="mt-4  shadow-table">
      <mat-table matSort [dataSource]="dataSource" class="table">
        <ng-container matColumnDef="index">
          <mat-header-cell class="font-bold" *matHeaderCellDef> No </mat-header-cell>
          <mat-cell class="index-column" *matCellDef="let row; let i=index"> {{ i + 1 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
          <mat-header-cell class="font-bold" *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell class="index-column" *matCellDef="let row"> {{ row?.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sendLocation">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'from' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row?.loadingLocation?.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cargoDeliveryLocation">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'where' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row?.deliveryLocation?.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="font-bold" mat-sort-header sortActionDescription="Sort by status">
            {{ 'status' |
            transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="status-badge" [class]="returnClassStatusOrder(row.cargoStatus?.name)">
              <span>{{statusOrderCheck(row.cargoStatus?.name)}}</span>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type_cargo">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'cargo_type' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="truncate">{{ row?.cargoType?.name }}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="transport_type">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'transport_cargo' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span *ngIf="row.transportTypes">
              <span *ngFor="let type of row?.transportTypes;let i=index">
                {{type.name}} <br>
              </span>
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="secure_transaction">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'secure_transaction' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row?.isSafe ? 'Да':'Нет'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="offeredPrice">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'price' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row?.offeredPrice }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date_send">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'shipment_date' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ (row.isUrgent ? addTwoDays(row.createdAt) : row.createdAt) | date: 'dd.MM.YYYY' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="client">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'client' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row?.deliveryLocation?.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div fxFlex="row" fxLayoutAlign="end center">
              <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                (click)="$event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #moreMenu="matMenu">
                <!-- <button mat-menu-item color="accent" (click)="edit(row)">
                  <mat-icon>edit</mat-icon>
                  {{"edit"|transloco}}
                </button> -->
                <button mat-menu-item color="accent" (click)="cancel(row)">
                  <mat-icon>remove</mat-icon>
                  {{"cancel"|transloco}}
                </button>
              </mat-menu>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" (click)="detail(row.id)"></mat-row>
      </mat-table>
      <mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[10, 20, 50, 100, 200]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>