<div class="flex flex-col flex-auto ">
  <div class="flex-auto  ">
    <div class="flex items-center justify-between w-full">
      <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">{{ 'loads' | transloco }}</div>
      </div>
      <div class="flex items-center ml-6">
        <button class="fuse-mat-button-large  mr-3 dark dark:bg-[#1E293BDB]" mat-flat-button [color]="'primary'"
          (click)="showFilter = !showFilter">
          <mat-icon>search</mat-icon>
          {{ 'search' | transloco }}
        </button>
        <button class="fuse-mat-button-large  mr-3 dark dark:bg-[#1E293BDB]" (click)="createOrderModal()"
          *ngIf="hasPermission('addOrder')" mat-flat-button [color]="'primary'">
          <mat-icon>add</mat-icon>
          {{ 'place_cargo' | transloco }}
        </button>
      </div>
    </div>
    <div class="flex items-baseline  flex-wrap" [@showHideFilter]="showFilter ? 'show' : 'hide'">
      <mat-form-field color="accent" class="w-50 px-1">
        <input matInput placeholder="{{ 'ID' | transloco }}" name="ID" [(ngModel)]="filters.orderId">
      </mat-form-field>
      <mat-form-field color="accent" class="w-50 px-1">
        <mat-select placeholder="{{ 'StatusID' | transloco }}" name="StatusID" [(ngModel)]="filters.statusId">
          <mat-option *ngFor="let cargostatus of cargoStatuses" [value]="cargostatus.id">{{ cargostatus.name
            }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent" class="w-50 px-1">
        <input matInput placeholder="Место отправки груза" name="loadingLocation" [(ngModel)]="filters.loadingLocation">
      </mat-form-field>

      <mat-form-field color="accent" class="w-50 px-1">
        <input matInput placeholder="Место доставки груза" name="deliveryLocation"
          [(ngModel)]="filters.deliveryLocation">
      </mat-form-field>

      <mat-form-field color="accent" class="w-50 px-1">
        <mat-select placeholder="{{ 'cargo_type' | transloco }}" [(ngModel)]="filters.transportTypeId"
          name="transportTypeId">
          <mat-option *ngFor="let item of transportTypes ; " [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent" class="w-50 px-1">
        <mat-select placeholder="{{ 'transport_cargo' | transloco }}" [(ngModel)]="filters.transportKindId"
          name="transportKindId">
          <mat-option *ngFor="let item of transportKinds ; " [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent" class="w-50 px-1">
        <mat-select placeholder="{{ 'merchant_order' | transloco }}" name="merchantOrder"
          [(ngModel)]="filters.merchantOrder">
          <mat-option value="true">{{ 'merchant_order' | transloco }}</mat-option>
          <mat-option value="false">{{ 'no_merchant_order' | transloco }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="px-1">
        <button class="fuse-mat-button-large  ml-3 " mat-flat-button [color]="'warn'" (click)="clearFilters()">
          {{ 'clear' | transloco }}</button>
      </div>
      <div class=" px-1">
        <button class="fuse-mat-button-large" mat-flat-button [color]="'warn'" (click)="getOrders()">
          {{ 'filter' | transloco }}</button>
      </div>
    </div>
    <div class="mt-4  shadow-table">
      <mat-table matSort [dataSource]="dataSource" class="table">
        <ng-container matColumnDef="index">
          <mat-header-cell class="font-bold" *matHeaderCellDef> No </mat-header-cell>
          <mat-cell class="index-column" *matCellDef="let row; let i=index"> {{ i + 1 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
          <mat-header-cell class="font-bold" mat-sort-header *matHeaderCellDef (click)="sortData('id')"> ID
          </mat-header-cell>
          <mat-cell class="index-column" *matCellDef="let row"> {{ row?.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sendLocation">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'place_shipment' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row" [matTooltip]="row.loadingLocation?.name">
            <span class="truncate-cell">
              {{row?.loadingLocation?.name}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cargoDeliveryLocation">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'delivery_shipment' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row" [matTooltip]="row.deliveryLocation?.name">
            <span class="truncate-cell">
              {{row?.deliveryLocation?.name}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="font-bold" mat-sort-header (click)="sortData('cargoStatus')">
            {{ 'status' |
            transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row" class="flex justify-center" [style.background-color]="row.cargoStatus?.color">
            <span>{{ row.cargoStatus?.name }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type_cargo">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'cargo_type' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row" [matTooltip]="tooltipTextTransportTypes(row)">
            <span *ngIf="row.transportTypes" class="truncate-cell">
              {{row?.transportTypes[0]?.name}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="transport_cargo">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'transport_cargo' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row" [matTooltip]="tooltipTextTransportKinds(row)">
            <span *ngIf="row.transportKinds" class="truncate-cell">
              {{row?.transportKinds[0]?.name}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="secure_transaction">
          <mat-header-cell class="font-bold" *matHeaderCellDef mat-sort-header (click)="sortData('isSafe')">{{
            'secure_transaction' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row" class="flex justify-center">{{row?.isSafe ? 'Да':'Нет'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="offeredPrice">
          <mat-header-cell class="font-bold" (click)="sortData('price')" *matHeaderCellDef mat-sort-header>
            {{ 'price' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row?.offeredPrice }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date_send">
          <mat-header-cell class="font-bold" *matHeaderCellDef mat-sort-header (click)="sortData('createdAt')">
            {{'shipment_date' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ (row.isUrgent ? addTwoDays(row.createdAt) : row.createdAt) | date: 'dd.MM.YYYY' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="client">
          <mat-header-cell class="font-bold" *matHeaderCellDef>{{ 'client' | transloco }}</mat-header-cell>
          <mat-cell *matCellDef="let row" [matTooltip]="row?.client?.firstName+' '+row?.client?.lastName">
            <span class="truncate-cell"> {{row?.client?.firstName + ' ' + row?.client?.lastName }}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div fxFlex="row" fxLayoutAlign="end center">
              <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                (click)="$event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #moreMenu="matMenu">
                <button mat-menu-item color="accent" (click)="cancel(row)">
                  <mat-icon>remove</mat-icon>
                  {{"cancel"|transloco}}
                </button>
              </mat-menu>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" (click)="detail(row.id)"></mat-row>
      </mat-table>
      <mat-paginator [showFirstLastButtons]="true" (page)="onPageChange($event)"
        [length]="pageParams.totalPagesCount*pageParams.pageSize" [pageSize]="pageParams.pageSize"
        [pageIndex]="pageParams.pageIndex-1" [pageSizeOptions]="[10, 20, 50, 100, 200]">
      </mat-paginator>
    </div>
  </div>
</div>