.country-selector {
    opacity: 1 !important;
    bottom: 8px !important;
}

input:not(.country-search) {
    bottom: 3px;
    left: 10px;
}

.country-list-button {
    font-size: 0.8rem !important;
}

.mat-menu-content:not(:empty) {
    max-height: 250px;
}

.mat-form-field {
    width: 300px;
}

.m-t-10 {
    margin-top: 10px;
}

ngx-mat-intl-tel-input div button {
    margin: 4px 0;
}

.mat-mdc-outlined-button .mat-mdc-button-ripple,
.mat-mdc-outlined-button .mdc-button__ripple {
    border-color: red;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(66, 244, 119) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: rgb(244, 66, 125) !important;
    background-color: rgb(66, 244, 84) !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgba(245, 6, 6, 0.26) !important
}