<div class="flex flex-col flex-auto ">
    <div class="flex-auto border-t ">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{"clients"|transloco}}</div>
            </div>
            <div class="flex items-center ml-6">
                <button class="sm:inline-flex ml-3 dark" mat-flat-button (click)="send()">
                    <span>{{ 'send' | transloco }}</span>
                </button>
                <button class="hidden sm:inline-flex ml-3 dark" mat-flat-button (click)="detail()">
                    <span>Detail</span>
                </button>
                <button class="hidden sm:inline-flex ml-3 dark" mat-flat-button (click)="add()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">Add</span>
                </button>
            </div>
        </div>
        <div class="flex items-baseline  w-full  ">
            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'id' | transloco }}">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'phone' | transloco }}">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'register_date' | transloco }}">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'last_enter' | transloco }}">
            </mat-form-field>
            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'name' | transloco }}">
            </mat-form-field>
            <mat-form-field color="accent" class="w-50 px-1">
                <mat-select placeholder="{{ 'city' | transloco }}">
                    <ng-container *ngFor="let row of cities">
                        <mat-option [value]="row.id">{{row.name}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <div class="px-1">
                <button mat-stroked-button class=" text-gray-950">
                    {{ 'clear' | transloco }}</button>
            </div>
            <div class=" px-1">
                <button mat-stroked-button class=" text-gray-950">
                    {{ 'filter' | transloco }}</button>
            </div>
        </div>
        <div class="mt-4 h-100 ">
            <mat-table matSort [dataSource]="dataSource">
                <ng-container matColumnDef="full_name">
                    <mat-header-cell *matHeaderCellDef> {{"full_name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.fio}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef> {{"phone"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.phone}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef> {{"city"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.city}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="register_date">
                    <mat-header-cell *matHeaderCellDef> {{"register_date"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.register_date}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="last_enter">
                    <mat-header-cell *matHeaderCellDef> {{"last_enter"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.last_inter}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rating">
                    <mat-header-cell *matHeaderCellDef> {{"rating"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.rating}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item color="accent" (click)="edit(row)">
                                    <mat-icon>edit</mat-icon>
                                    {{"edit"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" (click)="delete(row.id)">
                                    <mat-icon>remove</mat-icon>
                                    {{"remove"|transloco}}
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns">
                </mat-row>

            </mat-table>
            <app-no-data-placeholder *ngIf="!dataSource.data.length" >
            </app-no-data-placeholder>
            <mat-paginator [showFirstLastButtons]="true" [length]="dataSource.data.length"
                [pageSizeOptions]="[10, 20, 50, 100, 200]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>