<div class="flex flex-col flex-auto ">
    <div class="flex-auto  ">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{"clients"|transloco}}</div>
            </div>
            <div class="flex items-center ml-6">
                <button class="sm:inline-flex ml-3 " [color]="'primary'" mat-flat-button (click)="send()">
                    <span>{{ 'send' | transloco }}</span>
                </button>
                <button class="hidden sm:inline-flex ml-3 " [color]="'primary'" mat-flat-button (click)="add()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                   <span class="ml-2">{{ 'add' | transloco }}</span>
                </button>
            </div>
        </div>
        <div class="flex items-baseline flex-wrap">
            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'ID' | transloco }}" name="id" [(ngModel)]="filters.clientId">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'name' | transloco }}" name="name" [(ngModel)]="filters.firstName">
            </mat-form-field>

            <mat-form-field color="accent" class="w-50 px-1">
                <input matInput placeholder="{{ 'phone' | transloco }}" name="phone" [(ngModel)]="filters.phoneNumber">
            </mat-form-field>

            <mat-form-field color="accent" class="w-100 px-1">
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="{{ 'start_date_reg' | transloco }}"
                        [(ngModel)]="filters.createdAt_from">
                    <input matEndDate placeholder="{{ 'end_date_reg' | transloco }}" [(ngModel)]="filters.createdAt_to">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <mat-form-field color="accent" class="w-80 px-1">
                <mat-date-range-input [rangePicker]="pickers">
                    <input matStartDate placeholder="{{ 'start_date_log' | transloco }}"
                        [(ngModel)]="filters.lastLogin_from">
                    <input matEndDate placeholder="{{ 'end_date_log' | transloco }}" [(ngModel)]="filters.lastLogin_to">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="pickers"></mat-datepicker-toggle>
                <mat-date-range-picker #pickers></mat-date-range-picker>
            </mat-form-field>
            <div class="px-1">
                <button mat-flat-button color="warn" (click)="clearFilters()">
                    {{ 'clear' | transloco }}</button>
            </div>
            <div class=" px-1">
                <button mat-flat-button color="warn" (click)="getAllClient()">
                    {{ 'filter' | transloco }}</button>
            </div>
        </div>
        <div class="mt-4  shadow-table">
            <mat-table matSort [dataSource]="dataSource">

                <ng-container matColumnDef="index">
                    <mat-header-cell class="font-bold" *matHeaderCellDef> No </mat-header-cell>
                    <mat-cell class="index-column" *matCellDef="let row; let i=index"> {{ i + 1 }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="id">
                    <mat-header-cell class="font-bold" *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell class="index-column" *matCellDef="let row"> {{ row?.id }} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="full_name">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"full_name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.firstName}} {{ row?.lastName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"phone"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngFor="let phoneNumber of row.phoneNumbers">
                            {{phoneNumber?.phoneNumber}}
                        </span>
                    </mat-cell>
                </ng-container>

     
                <ng-container matColumnDef="register_date">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"register_date"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.createdAt | date:'dd/MM/yyyy'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="last_enter">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"last_enter"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.last_inter}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                    <mat-header-cell class="font-bold" *matHeaderCellDef>{{"status"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button *ngIf="!row?.blocked"
                            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full">
                        </button>
                        <button *ngIf="row?.blocked"
                            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full">
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item color="accent" (click)="edit(row)">
                                    <mat-icon>edit</mat-icon>
                                    {{"edit"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" (click)="detail(row.id)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                    {{"detail"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" *ngIf="!row.blocked" (click)="block(row.id)">
                                    <mat-icon>lock</mat-icon>
                                    {{"block"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" *ngIf="row.blocked" (click)="active(row.id)">
                                    <mat-icon>lock_open</mat-icon>
                                    {{"unblock"|transloco}}
                                </button>
                                <button mat-menu-item color="warn" (click)="delete(row.id)">
                                    <mat-icon>remove</mat-icon>
                                    {{"delete"|transloco}}
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns" (click)="detail(row.id)">
                </mat-row>
            </mat-table>
            <app-no-data-placeholder *ngIf="!dataSource.data.length" class="m-1">
            </app-no-data-placeholder>
            <mat-paginator [showFirstLastButtons]="true" (page)="onPageChange($event)" [length]="pageParams.totalPagesCount-1"
                [pageSize]="pageParams.limit" [pageIndex]="pageParams.page" [pageSizeOptions]="[10, 20, 50, 100, 200]">
            </mat-paginator>
        </div>
    </div>
</div>