<div class="flex justify-between items-center">
    <p mat-dialog-title class="font-bold leading-5 text-3xl">{{"about_driver"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content class="h-full">
    <div class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-[#1E293BDB] dark:bg-[#1E293BDB]rounded-lg shadow-md ">
        <div class="flex  w-full justify-between ">
            <div class="flex ">
                <img src="assets/images/user/user.png" alt="User Image" class="rounded-full w-16 h-16 mr-2">
                <div>
                    <p class="text-2xl font-bold  dark:text-white">{{driver?.firstName}} {{driver?.lastName }}</p>
                    <p class="text-gray-600 dark:text-white "># {{driver?.id}}</p>
                </div>
            </div>
            <div class="flex justify-end">
                <p class="text-gray-600 dark:text-white"> 5.0</p>
                <img src="assets/images/icons/start.svg" alt="star Image" class="rounded-full w-4 h-4 ml-1 mt-1">
            </div>
        </div>
    </div>
    <!-- <div class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-[#1E293BDB] dark:bg-[#1E293BDB]rounded-lg shadow-md">
        <div class="mb-5">
            <h2 class="text-2xl leading-4 font-bold dark:text-white dark:text-white">{{"orders"|transloco}}</h2>
        </div>
        <div class="flex mb-4">
            <div class="w-1/3 text-center">
                <p class="font-semibold text-3xl mb-2">25</p>
                <p class="text-gray-600 dark:text-white dark:text-white">{{"total"|transloco}}</p>
            </div>
            <div class="w-1/3 text-center">
                <p class="font-semibold text-3xl mb-2">5</p>
                <p class="text-gray-600 dark:text-white">{{"completed"|transloco}} </p>
            </div>
            <div class="w-1/3 text-center">
                <p class="font-semibold text-3xl mb-2">5</p>
                <p class="text-gray-600 dark:text-white">{{"neagtive"|transloco}}</p>
            </div>
        </div>
    </div> -->
    <div class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-[#1E293BDB] dark:bg-[#1E293BDB]rounded-lg shadow-md">
        <div class="mb-5">
            <h2 class="text-2xl leading-4 font-bold dark:text-white ">{{"information"|transloco}}</h2>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div *ngIf="driver.firstName">
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"full_name"|transloco}}</p>
                <p class="font-bold dark:text-white">{{driver?.firstName}} {{driver?.lastName }}ч</p>
            </div>
            <div *ngIf="driver?.subscribedAt"> 
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"subscription"|transloco}}</p>
                <p class="font-bold dark:text-white">{{driver?.subscribedAt | date:'dd/MM/yyyy HH:mm' }}</p>
            </div>
        </div>
    </div>
    <div *ngIf="driver?.driverTransports.length>0"
        class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-[#1E293BDB] dark:bg-[#1E293BDB]rounded-lg shadow-md">
        <div class="mb-5">
            <h2 class="text-2xl leading-4 font-bold dark:text-white">{{"transport"|transloco}}</h2>
        </div>

        <div class="grid grid-cols-2 gap-4" *ngFor="let transport of driver?.driverTransports">
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"transport_cargo"|transloco}}</p>
                <p class="font-bold dark:text-white">Тентовка</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"Date"|transloco}}</p>
                <p class="font-bold dark:text-white">{{transport?.createdAt}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"adr"|transloco}}</p>
                <p class="font-bold dark:text-white">
                    <span *ngIf="transport?.isAdr">
                        {{"yes"|transloco}}
                    </span>
                    <span *ngIf="!transport?.isAdr">
                        {{"no"|transloco}}
                    </span>
                </p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"state_number_trailer"|transloco}}</p>
                <p class="font-bold dark:text-white">{{transport?.stateNumber}}</p>
            </div>

        </div>

        <div class="grid grid-cols-1 gap-4" *ngFor="let transport of driver?.driverTransports">
            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold dark:text-white">{{"technical_passport"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.techPassportFrontFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>
            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold dark:text-white">{{"tech_passport_front"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.techPassportBackFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>

            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold dark:text-white">{{"transport_photo"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.transportFrontFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>
            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold dark:text-white">{{"transport_back_photo"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.transportBackFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>

            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold dark:text-white">{{"transport_side_photo"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.transportSideFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>

            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold dark:text-white">{{"passport"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.passportFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>

            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold dark:text-white">{{"driver_lisense_card"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.driverLicenseFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>
            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label
                        class="block mb-2 font-bold dark:text-white">{{"good_transportation_lisense"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.goodsTransportationLicenseCardFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-[#1E293BDB] dark:bg-[#1E293BDB]rounded-lg shadow-md">
        <div class="mb-5 flex">
            <h2 class="text-2xl leading-4 font-bold dark:text-white "> {{"driver_contact"|transloco}}
            </h2>
            <img src="assets/images/icons/telegram.svg" alt="" class="ml-auto h-7 w-7">
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div *ngIf="driver?.phoneNumber||driver?.phoneNumbers">
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"phone"|transloco}}</p>
                <p class="font-bold dark:text-white" *ngIf="driver?.phoneNumber">{{driver?.phoneNumber}}</p>
                <p class="font-bold dark:text-white" *ngIf="driver?.phoneNumbers">
                    <span *ngFor="let phoneNumber of driver?.phoneNumbers">
                        {{phoneNumber?.phoneNumber}}
                    </span>
                </p>
            </div>
            <div *ngIf="driver?.email">
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"email"|transloco}}</p>
                <p class="font-bold dark:text-white"> {{driver?.email}}</p>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="flex">
    <div class="ml-auto p-4">
        <button mat-flat-button [color]="'warn'" mat-dialog-close tabindex="-1">
            {{"send_push"|transloco}}</button>
        <button mat-flat-button [color]="'primary'" class="" (click)="submit()">
            {{"save"|transloco}}
        </button>
    </div>
</mat-dialog-actions>