<div class="flex flex-col flex-auto ">
    <div class="flex-auto border-t ">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{"archived_users"|transloco}}</div>
            </div>
        </div>
        <div class="mt-4 h-100 ">
            <mat-table matSort [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <mat-header-cell class="font-extrabold index-column" *matHeaderCellDef>{{"ID"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="full_name">
                    <mat-header-cell class="font-extrabold index-column" *matHeaderCellDef>{{"full_name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div [ngSwitch]="row.userType">
                            <div *ngSwitchCase="'client'">{{row?.client?.firstName}} {{row?.client?.lastName}}</div>
                            <div *ngSwitchCase="'driver'">{{row?.driver?.firstName}} {{row?.driver?.lastName}}</div>
                            <div *ngSwitchCase="'staff'">{{row?.staff?.fullName}} {{row?.staff?.username}}</div>
                            <div *ngSwitchCase="'agent'">{{row?.agent?.managerFirstName}}
                                {{row?.agent?.managerLastName}}</div>
                            <div *ngSwitchCase="'client_merchant'">{{row?.clientMerchant?.supervisorFirstName}}
                                {{row?.clientMerchant?.supervisorLastName}}</div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ISO">
                    <mat-header-cell class="font-extrabold index-column" *matHeaderCellDef>{{"full_name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.fio}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <mat-header-cell class="font-extrabold index-column" *matHeaderCellDef>{{"phone"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div [ngSwitch]="row.userType">
                            <div *ngSwitchCase="'client'">
                                <span *ngFor="let phone of row?.client?.phoneNumbers">
                                    {{phone.phoneNumber}}
                                </span>
                            </div>
                            <div *ngSwitchCase="'driver'">
                                <span *ngFor="let phone of row?.driver?.phoneNumbers">
                                    {{phone.phoneNumber}}
                                </span>
                            </div>
                            <div *ngSwitchCase="'staff'">
                                {{row?.staff?.phone}}
                            </div>
                            <div *ngSwitchCase="'client_merchant'">
                                {{row?.clientMerchant.phoneNumber}}
                            </div>
                            <div *ngSwitchCase="'agent'">
                                {{row?.agent?.phoneNumber}}
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell class="font-extrabold index-column" *matHeaderCellDef>{{"type"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.userType}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="moderation">
                    <mat-header-cell class="font-extrabold index-column" *matHeaderCellDef>{{"moderation"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.moderation}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="register_date">
                    <mat-header-cell class="font-extrabold index-column" *matHeaderCellDef>{{"register_date"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div [ngSwitch]="row.userType">
                            <div *ngSwitchCase="'client'">{{row?.client?.createdAt | date: 'dd/MM/yyyy'}} </div>
                            <div *ngSwitchCase="'driver'">{{row?.driver?.createdAt | date: 'dd/MM/yyyy'}} </div>
                            <div *ngSwitchCase="'staff'">{{row?.staff?.createdAt | date: 'dd/MM/yyyy'}} </div>
                            <div *ngSwitchCase="'agent'">{{row?.agent?.createdAt | date: 'dd/MM/yyyy'}} </div>
                            <div *ngSwitchCase="'client_merchant'">{{row?.clientMerchant?.createdAt | date:
                                'dd/MM/yyyy'}} </div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="last_enter">
                    <mat-header-cell class="font-extrabold index-column" *matHeaderCellDef>{{"last_enter"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.last_inter}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="geolocation">
                    <mat-header-cell class="font-extrabold index-column" *matHeaderCellDef>{{"geolocation"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.geolocation}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="order">
                    <mat-header-cell class="font-extrabold index-column" *matHeaderCellDef>{{"orders"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.order}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item color="accent" (click)="detail(row.id)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                    {{"detail"|transloco}}
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns">
                </mat-row>
            </mat-table>

            <app-no-data-placeholder *ngIf="!dataSource.data.length" class="m-1">
            </app-no-data-placeholder>
            <mat-paginator [showFirstLastButtons]="true" (page)="onPageChange($event)" [length]="dataSource.data.length"
                [pageSize]="pageParams.limit" [pageIndex]="pageParams.page" [pageSizeOptions]="[10, 20, 50, 100, 200]">
            </mat-paginator>
        </div>
    </div>
</div>