<div class="flex justify-between items-center">
    <p mat-dialog-title class="font-bold leading-5 text-3xl">{{"about_ordering"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content class="h-full">
    <div class="h-60 w-full">
        <ya-map [center]="[55.751952, 37.600739]" [zoom]="12">
        </ya-map>
    </div>
    <div
        class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-[#1E293BDB] rounded-lg  dark:shadow-white dark:shadow-sm shadow-md border-t-2">
        <div class="mb-5">
            <h2 class="text-2xl leading-4 font-bold  dark:text-white">{{"information"|transloco}}</h2>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"id_order"|transloco}}</p>
                <p class="font-bold dark:text-white">#5</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"order_dispatch_point"|transloco}}</p>
                <p class="font-bold dark:text-white">Узбекистан, Ташкент</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"cargo_type"|transloco}}</p>
                <p class="font-bold dark:text-white">Жиры и масла</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"order_delivery_point"|transloco}}</p>
                <p class="font-bold dark:text-white">Америка, Нью-Йорк</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"register_date"|transloco}}</p>
                <p class="font-bold dark:text-white">03 ноября 2023 в 19:52</p>
            </div>


            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"type_transport"|transloco}}</p>
                <p class="font-bold dark:text-white">Тентовка</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"cargo_size"|transloco}}</p>
                <p class="font-bold dark:text-white">03 ноября 2023 в 19:52</p>
            </div>
        </div>
    </div>

</mat-dialog-content>