<div class="flex flex-col flex-auto ">
    <div class="flex-auto  ">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">{{"cargo_group_type"|transloco}}</div>
            </div>
            <div class="flex items-center ml-6">
                <button class="fuse-mat-button-large  ml-3 " [color]="'primary'" mat-flat-button (click)="add()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    <span class="ml-2">{{ 'add' | transloco }}</span>
                </button>
            </div>
        </div>
        <div class="mt-4  shadow-table">
            <mat-table matSort [dataSource]="dataSource">

                <ng-container matColumnDef="id">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"ID"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell class="font-bold dark:text-white" *matHeaderCellDef>{{"name"|transloco}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row?.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation()">
                                <mat-icon>more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item color="accent" (click)="edit(row)">
                                    <mat-icon>edit</mat-icon>
                                    {{"edit"|transloco}}
                                </button>
                                <button mat-menu-item color="accent" (click)="delete(row.id)">
                                    <mat-icon>remove</mat-icon>
                                    {{"remove"|transloco}}
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns">
                </mat-row>
            </mat-table>
            <app-no-data-placeholder *ngIf="!dataSource.data.length" class="m-1">
            </app-no-data-placeholder>
            <mat-paginator [showFirstLastButtons]="true" (page)="onPageChange($event)"
                [length]="pageParams.totalPagesCount*pageParams.pageSize" [pageSize]="pageParams.pageSize"
                [pageIndex]="pageParams.pageIndex-1" [pageSizeOptions]="[10, 20, 50, 100, 200]">
            </mat-paginator>
        </div>
    </div>
</div>