<div class="flex justify-between items-center">
    <p mat-dialog-title *ngIf="!edit" class="font-bold text-2xl uppercase">{{"add_user"|transloco}}</p>
    <p mat-dialog-title *ngIf="edit" class="font-bold text-2xl uppercase">{{"edit_user"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="grid grid-cols-2 gap-4">
            <div class="p-3">
                <mat-form-field color="accent" class="w-full">
                    <mat-label>{{ 'first_name' | transloco }}</mat-label>
                    <input matInput placeholder="{{ 'first_name' | transloco }}" formControlName="firstName"
                        [ngClass]="{'is-invalid': f.firstName.errors}">
                    <mat-error *ngIf="f.firstName.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field color="accent" class="w-full">
                    <mat-label>{{ 'phone' | transloco }}*</mat-label>
                    <ngx-mat-intl-tel-input tyle="border: 2px solid red; padding: 10px; margin-left: 100px;width: 100px; height: 100px;"  [cssClass]="'custom'" formControlName="phoneNumber"
                        [preferredCountries]="['uz']" [enablePlaceholder]="true" [enableSearch]="true"
                        name="phoneNumber" #phoneNumber>
                    </ngx-mat-intl-tel-input>
                </mat-form-field>

                <mat-form-field color="accent" class="w-full">
                    <mat-label>{{ 'citizenship' | transloco }}</mat-label>
                    <input matInput placeholder="{{ 'citizenship' | transloco }}" formControlName="citizenship"
                        [ngClass]="{'is-invalid': f.citizenship.errors}">
                    <mat-error *ngIf="f.citizenship.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                </mat-form-field>
                <div class="w-full flex" *ngIf="!edit">
                    <mat-form-field color="accent" class="w-full">
                        <mat-label>{{ 'password' | transloco }}</mat-label>
                        <input matInput placeholder="{{ 'password' | transloco }}" formControlName="password"
                            [ngClass]="{'is-invalid': f.password.errors}">
                        <mat-error *ngIf="f.password.errors?.required">
                            {{ 'is_empty' | transloco }}
                        </mat-error>
                        <mat-error *ngIf="f.password.errors?.maxlength">
                            Максимальная длина поля 6
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- <mat-form-field class="flex-auto gt-xs:pr-3 md:w-72 sm:w-full">
                    <input type="text" matInput [matAutocomplete]="auto" placeholder="{{ 'city' | transloco }}"
                        (input)="findCity($event)" formControlName="citizenship"> -->
                <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <ng-container *ngFor="let city of findList">
                            <mat-option
                                [value]="city.data.city + ', ' + city.data.country + ':'+ city.data.geo_lat + ':'+ city.data.geo_lon">
                                {{city.data.city}}
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete> -->
                <!-- <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:map-pin'"></mat-icon> -->
                <!-- <mat-form-field color="accent" class="w-full">
                    <mat-select [formControl]="citiesSelected" placeholder="{{ 'city' | transloco }}"   #singleSelect  >
                       <mat-option>
                          <ngx-mat-select-search (input)="findCity($event)" placeholderLabel="'Гражданство'"  [formControl]="selectTechnicalRoomFilterCtrl"></ngx-mat-select-search>
                       </mat-option>
                       <mat-option *ngFor="let city of findList" [value]="city.data">
                          {{city.data.city + ', ' + city.data.country}}
                       </mat-option>
                    </mat-select>
                 </mat-form-field> -->
                <!-- </mat-form-field> -->
            </div>
            <div class="p-3">
                <mat-form-field color="accent" class="w-full">
                    <mat-label>{{ 'last_name' | transloco }}</mat-label>
                    <input matInput placeholder="{{ 'last_name' | transloco }}" formControlName="lastName"
                        [ngClass]="{'is-invalid': f.lastName.errors}">
                    <mat-error *ngIf="f.lastName.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field color="accent" class="w-full">
                    <mat-label>{{ 'email' | transloco }}</mat-label>
                    <input matInput placeholder="{{ 'email' | transloco }}" formControlName="email"
                        [ngClass]="{'is-invalid': f.email.errors}">
                    <mat-error *ngIf="f.email.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                    <mat-error *ngIf="f.email.errors?.email">
                        {{ 'is_email' | transloco }}
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="example-full-width">
                    <mat-label>Upload File</mat-label>
                    <input matInput [placeholder]="'No file chosen'" [value]="file?.name">
                    <mat-icon matSuffix>attach_file</mat-icon>
                    <input type="file" (change)="onPassportSelected($event)" hidden>
                </mat-form-field> -->

                <!-- <mat-form-field class="flex items-center" *ngIf="!edit">
                    <mat-label>{{ 'driver_lisense' | transloco }}</mat-label>
                    <input matInput placeholder="Upload" class="mr-2" [value]="form.get('passport').value?.name || ''">
                    <label class=" text-white font-bold p-2 rounded-full cursor-pointer">
                        <mat-icon aria-label="Upload">cloud_upload</mat-icon>
                        <input type="file" (change)="onPassportSelected($event)"
                            [ngClass]="{'is-invalid': f.passport.errors}" formControlName="passport" id="fileInput"
                            style="display: none;">
                    </label>

                    <mat-error *ngIf="f.passport.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>    
                </mat-form-field> -->

                <div class="w-32">
                    <mat-label class="font-bold">{{ 'driver_lisense' | transloco }}</mat-label>
                    <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden">
                      <div class="absolute inset-0 bg-black bg-opacity-50 z-10 rounded-md"></div>
                      <div class="absolute inset-0 flex items-center justify-center z-20">
                        <div>
                          <input formControlName="passport" id="avatar-file-input1"
                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file" [multiple]="false"
                            [accept]="'image/jpeg, image/png'" (change)="selectFile($event, 'passport')">
                          <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                            for="avatar-file-input1" matRipple>
                            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                          </label>
                        </div>
                      </div>
                      <img class="object-fill w-full h-full" *ngIf="passport" [src]="passport">
                      <img class="object-fill w-full h-full" *ngIf="passport&&edit" [src]="passport| fileFetch: 'client'|async">
                    </div>
                  </div>

                <!-- <div *ngIf="!edit">
                    <p class="text-xl mb-1">Фото паспорта </p>
                    <div class="border-2 border-gray-800 p-2 rounded-lg flex-col items-center justify-center">
                        <label for="passport" class="cursor-pointer flex justify-center">
                            <img src="assets/images/icons/file.svg" alt="Upload Icon" class="mr-2 h-8 w-8">
                        </label>
                        <input type="file" class="hidden" id="passport" (change)="onPassportSelected($event)" />
                        <span *ngIf="fileName" class="mt-2 m-2">Uploaded: {{ fileName }}</span>
                    </div>
                </div> -->
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex">
    <div class="ml-auto p-4">
        <button mat-flat-button class="fuse-mat-button " [color]="'warn'" mat-dialog-close tabindex="-1">
            {{ 'cancel' | transloco }}</button>
        <button
            [ngClass]="{'fuse-mat-button text-white': form.invalid || form.pristine, 'fuse-mat-button dark': !form.invalid && !form.pristine}"
            mat-flat-button [color]="'primary'" [disabled]="form.invalid || form.pristine" (click)="submit()">
            {{ 'save' | transloco }}
        </button>
    </div>
</mat-dialog-actions>