<div class="flex justify-between items-center">
    <p mat-dialog-title class="font-bold leading-5 text-3xl">{{"about_merchant"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content class="h-full">
    <div
        class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-[#1E293BDB] rounded-lg dark:border-white dark:shadow-white shadow-md border-t-2">
        <div class="flex  w-full justify-between ">
            <div class="flex ">
                <img src="assets/images/user/user.png" alt="User Image" class="rounded-full w-16 h-16 mr-2">
                <div>
                    <p class="text-2xl font-bold  dark:text-white">{{merchant?.companyName}} {{merchant?.companyType }}
                    </p>
                    <p class="text-gray-600 dark:text-white"># {{merchant?.id}}</p>
                </div>
            </div>
            <div class="flex justify-end">
                <p class="text-gray-600 dark:text-white"> 5.0</p>
                <img src="assets/images/icons/start.svg" alt="star Image" class="rounded-full w-4 h-4 ml-1 mt-1">
            </div>
        </div>
    </div>
    <div
        class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-[#1E293BDB] rounded-lg dark:shadow-sm  dark:border-white dark:shadow-white shadow-md border-t-2">
        <div class="mb-5 flex">
            <h2 class="text-2xl leading-4 font-bold dark:text-white"> {{"information"|transloco}}
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"responce_person_first_name"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.responsiblePersonFistName}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"responce_person_last_name"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.responsiblePersonLastName}}</p>
            </div>
            <div *ngIf="merchant?.responsbilePersonPhoneNumber">
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"responce_phone"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.responsbilePersonPhoneNumber}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"director_first_name"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.supervisorFirstName}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"director_last_name"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.supervisorLastName}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"email"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.email}}</p>
            </div>
            <div *ngIf="merchant?.phoneNumber">
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"phone"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.phoneNumber}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"bank_name"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.bankName}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"inn"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.inn}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"oked"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.oked}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"mfo"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.mfo}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"duns_number"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.dunsNumber}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1 dark:text-white">{{"legal_address"|transloco}}</p>
                <p class="font-bold dark:text-white">{{merchant?.legalAddress}}</p>
            </div>
        </div>
    </div>
    <div class="flex items-end flex-wrap  w-full gap-4 mt-2 p-4">
        <div class="w-40">
            <mat-label class="block mb-2 font-bold dark:text-white">{{ 'logo' | transloco }} </mat-label>
            <div class="relative flex items-center justify-center w-40 h-32 overflow-hidden">
                <div class="absolute inset-0 bg-black bg-opacity-50 z-10 rounded-md"></div>
                <div class="absolute inset-0 flex items-center justify-center z-20">
                    <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                        matRipple>
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:arrow-down-tray'"
                            (click)="downloadPhoto(merchant?.logoFilePath)"></mat-icon>
                    </label>
                </div>
                <img class="object-fill w-full h-full"
                    [src]="merchant?.logoFilePath | fileFetch: 'client_merchant'|async">
            </div>
        </div>
        <div class="w-40">
            <mat-label class="block mb-2 font-bold dark:text-white">{{ 'passport' | transloco }} </mat-label>
            <div class="relative flex items-center justify-center w-40 h-32 overflow-hidden">
                <div class="absolute inset-0 bg-black bg-opacity-50 z-10 rounded-md"></div>
                <div class="absolute inset-0 flex items-center justify-center z-20">
                    <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                        matRipple>
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:arrow-down-tray'"
                            (click)="downloadPhoto(merchant?.passportFilePath)"></mat-icon>
                    </label>
                </div>
                <img class="object-fill w-full h-full"
                    [src]="merchant?.passportFilePath | fileFetch: 'client_merchant'|async">
            </div>
        </div>
        <div class="w-40">
            <mat-label class="block mb-2 font-bold dark:text-white">{{ 'registration_certificate' | transloco }}
            </mat-label>
            <div class="relative flex items-center justify-center w-40 h-32 overflow-hidden">
                <div class="absolute inset-0 bg-black bg-opacity-50 z-10 rounded-md"></div>
                <div class="absolute inset-0 flex items-center justify-center z-20">
                    <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                        matRipple>
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:arrow-down-tray'"
                            (click)="downloadPhoto(merchant?.registrationCertificateFilePath)"></mat-icon>
                    </label>
                </div>
                <img class="object-fill w-full h-full"
                    [src]="merchant?.registrationCertificateFilePath | fileFetch: 'client_merchant'|async">
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="flex">
    <div class="ml-auto p-4">
        <button mat-flat-button [color]="'warn'" mat-dialog-close tabindex="-1">
            {{"send_push"|transloco}}</button>
        <button mat-flat-button [color]="'primary'" class="" (click)="submit()">
            {{"save"|transloco}}
        </button>
    </div>
</mat-dialog-actions>