<div class="flex justify-between items-center">
    <p mat-dialog-title *ngIf="!edit" class="font-bold text-2xl uppercase">{{"add_driver"|transloco}}</p>
    <p mat-dialog-title *ngIf="edit" class="font-bold text-2xl uppercase">{{"edit_driver"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <form [formGroup]="form">
        <div class="grid grid-cols-2 gap-4">
            <div class="p-3">
                <mat-form-field color="accent" class="w-full">
                    <mat-label>{{'phone'|transloco}}</mat-label>
                    <ngx-mat-intl-tel-input [cssClass]="'custom'" formControlName="phoneNumbers"
                        [preferredCountries]="['uz']" [enablePlaceholder]="true" [enableSearch]="true"
                        name="phoneNumbers" #phoneNumbers>
                    </ngx-mat-intl-tel-input>
                </mat-form-field>
                <mat-form-field color="accent" class="w-full">
                    <mat-label>{{'first_name'|transloco}}</mat-label>
                    <input matInput  formControlName="firstName"
                        [ngClass]="{'is-invalid': f.firstName.errors}">
                    <mat-error *ngIf="f.firstName.errors?.required">
                        Поле не должно быть пустым
                    </mat-error>
                </mat-form-field>

                <div class="w-32">
                    <mat-label class="text-xl">{{ 'passport' | transloco }}</mat-label>
                    <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden">
                        <div class="absolute inset-0 bg-black bg-opacity-50 z-10 rounded-md"></div>
                        <div class="absolute inset-0 flex items-center justify-center z-20">
                            <div>
                                <input formControlName="passportFilePath" id="avatar-file-input1"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file"
                                    [multiple]="false" [accept]="'image/jpeg, image/png'"
                                    (change)="selectFile($event, 'passportFilePath')">
                                <label
                                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                    for="avatar-file-input1" matRipple>
                                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                </label>
                            </div>
                        </div>
                        <img class="object-fill w-full h-full" *ngIf="passportFilePath&&!edit"
                            [src]="passportFilePath">
                        <img class="object-fill w-full h-full" *ngIf="passportFilePath&&edit"
                            [src]="passportFilePath | fileFetch: 'driver'|async">
                    </div>
                </div>
                <!-- <mat-form-field class="flex items-center">
                    <mat-label class="text-xl">{{ 'passport' | transloco }}</mat-label>
                    <input matInput placeholder="Upload" class="mr-2"
                        [value]="form.get('passportFilePath')?.value?.name || ''" formControlName="passportFilePath"
                        [ngClass]="{'is-invalid': f.passportFilePath.errors}">
                    <label class=" text-white font-bold p-2 rounded-full cursor-pointer">
                        <mat-icon aria-label="Upload">cloud_upload</mat-icon>
                        <input type="file" (change)="onFileSelected($event, 'passportFilePath')"
                            formControlName="passportFilePath" id="fileInput" style="display: none;">
                    </label>
                    <mat-error *ngIf="f.passportFilePath.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                    <img *ngIf="form.get('passportFilePath')?.value&&!edit" [src]="getImageUrl('passportFilePath')"
                        class="max-h-12 max-w-12" />
                </mat-form-field> -->

            </div>
            <div class="p-3">
                <mat-form-field color="accent" class="w-full">
                    <mat-label>{{'last_name'|transloco}}</mat-label>
                    <input matInput  formControlName="lastName"
                        [ngClass]="{'is-invalid': f.lastName.errors}">
                    <mat-error *ngIf="f.lastName.errors?.required">
                        Поле не должно быть пустым
                    </mat-error>
                </mat-form-field>
                <mat-form-field color="accent" class="w-full">
                    <mat-label>{{'password'|transloco}}</mat-label>
                    <input matInput  formControlName="password"
                        [ngClass]="{'is-invalid': f.password.errors}">
                    <mat-error *ngIf="f.password.errors?.required">
                        Поле не должно быть пустым
                    </mat-error>
                </mat-form-field>


                <div class="w-32">
                    <mat-label class="text-xl">{{ 'driver_license' | transloco }} </mat-label>
                    <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden">
                        <div class="absolute inset-0 bg-black bg-opacity-50 z-10 rounded-md"></div>
                        <div class="absolute inset-0 flex items-center justify-center z-20">
                            <div>
                                <input formControlName="driverLisenseFilePath" id="avatar-file-input1"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file"
                                    [multiple]="false" [accept]="'image/jpeg, image/png'"
                                    (change)="selectFile($event, 'driverLisenseFilePath')">
                                <label
                                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                    for="avatar-file-input1" matRipple>
                                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                </label>
                            </div>
                        </div>
                        <img class="object-fill w-full h-full" *ngIf="driverLisenseFilePath&&!edit"
                            [src]="driverLisenseFilePath">
                        <img class="object-fill w-full h-full" *ngIf="driverLisenseFilePath&&edit"
                            [src]="driverLisenseFilePath | fileFetch: 'driver'|async">
                    </div>
                </div>
                <!-- <mat-form-field class="flex items-center">
                    <mat-label class="text-xl">{{ 'driver_license' | transloco }} </mat-label>
                    <input matInput placeholder="Upload" class="mr-2"
                        [value]="form.get('driverLisenseFilePath')?.value?.name || ''"
                        formControlName="driverLisenseFilePath"
                        [ngClass]="{'is-invalid': f.driverLisenseFilePath.errors}">
                    <label class=" text-white font-bold p-2 rounded-full cursor-pointer">
                        <mat-icon aria-label="Upload">cloud_upload</mat-icon>
                        <input type="file" (change)="onFileSelected($event, 'driverLisenseFilePath')"
                            formControlName="driverLisenseFilePath" id="fileInput" style="display: none;">
                    </label>
                    <mat-error *ngIf="f.driverLisenseFilePath.errors?.required">
                        {{ 'is_empty' | transloco }}
                    </mat-error>
                    <img *ngIf="form.get('driverLisenseFilePath').value&&!edit"
                        [src]="getImageUrl('driverLisenseFilePath')" class="max-h-12 max-w-12" />
                </mat-form-field> -->
            </div>
            <div class="p-3">
                <mat-radio-group class="flex items-center" formControlName="subscriptionId">
                    <mat-radio-button class="w-2/4 m-4 p-4 rounded-lg" [color]="white"
                        [ngClass]="{'card-background-grey': !form.invalid || !form.pristine, 'card-background-black text-white': form.invalid && form.pristine}"
                        value="option1" *ngFor="let row of subscription" [value]="row.id">
                        <p class="w-40">${{row?.price}}/месяц</p>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="flex">
    <div class="ml-auto p-4">
        <button mat-flat-button class="fuse-mat-button" [color]="'warn'" mat-dialog-close tabindex="-1">
            {{ 'cancel' | transloco }}</button>
        <button
            [ngClass]="{'fuse-mat-button text-white': form.invalid || form.pristine, 'fuse-mat-button dark': !form.invalid && !form.pristine}"
            mat-flat-button [color]="'primary'" [disabled]="form.invalid || form.pristine" (click)="submit()">
            {{ 'save' | transloco }}
        </button>
    </div>
</mat-dialog-actions>