<div class="flex justify-between items-center">
    <p mat-dialog-title class="font-bold leading-5 text-3xl">{{"about_driver"|transloco}}</p>
    <button mat-icon-button mat-dialog-close>
        <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
</div>
<mat-dialog-content class="h-full">
    <div class="max-w-md mx-auto p-4 mt-3 bg-white dark:bg-black rounded-lg shadow-md ">
        <div class="flex  w-full justify-between ">
            <div class="flex ">
                <img src="assets/images/user/user.svg" alt="User Image" class="rounded-full w-16 h-16 mr-2">
                <div>
                    <p class="text-2xl font-bold">{{driver?.firstName}} {{driver?.lastName }}</p>
                    <p class="text-gray-600"># {{driver?.id}}</p>
                </div>
            </div>
            <div class="flex justify-end">
                <p class="text-gray-600"> 5.0</p>
                <img src="assets/images/icons/start.svg" alt="star Image" class="rounded-full w-4 h-4 ml-1 mt-1">
            </div>
        </div>
    </div>
    <!-- <div class="max-w-md mx-auto p-4 mt-3 bg-white rounded-lg shadow-md">
        <div class="mb-5">
            <h2 class="text-2xl leading-4 font-bold">{{"orders"|transloco}}</h2>
        </div>
        <div class="flex mb-4">
            <div class="w-1/3 text-center">
                <p class="font-semibold text-3xl mb-2">25</p>
                <p class="text-gray-600">{{"total"|transloco}}</p>
            </div>
            <div class="w-1/3 text-center">
                <p class="font-semibold text-3xl mb-2">5</p>
                <p class="text-gray-600">{{"completed"|transloco}} </p>
            </div>
            <div class="w-1/3 text-center">
                <p class="font-semibold text-3xl mb-2">5</p>
                <p class="text-gray-600">{{"neagtive"|transloco}}</p>
            </div>
        </div>
    </div> -->
    <div class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-black rounded-lg shadow-md">
        <div class="mb-5 flex">
            <h2 class="text-2xl leading-4 font-bold"> {{"information"|transloco}}
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p class="text-xl leading-4 mb-1">{{"register_date"|transloco}}</p>
                <p class="font-bold">{{driver?.createdAt | date:'dd/MM/yyyy HH:mm'}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1">{{"phone"|transloco}}</p>
                <p class="font-bold" *ngIf="driver?.phoneNumber">{{driver?.phoneNumber}}</p>
                <p class="font-bold" *ngIf="driver?.phoneNumbers">
                    <span *ngFor="let phoneNumber of driver?.phoneNumbers">
                        +{{phoneNumber?.phoneNumber}}
                    </span>
                </p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1">{{"subscription"|transloco}}</p>
                <p class="font-bold">
                    <span *ngIf="driver?.subscription">
                        {{driver?.subscribedAt | date:'dd/MM/yyyy HH:mm' }}
                    </span>
                    <span *ngIf="!driver?.subscription">
                        {{"no"|transloco}}
                    </span>
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-black rounded-lg shadow-md">
        <div class="mb-5 flex">
            <h2 class="text-2xl leading-4 font-bold"> {{"driver_contact"|transloco}}
            </h2>
            <img src="assets/images/icons/telegram.svg" alt="" class="ml-auto h-7 w-7 cursor-pointer">
        </div>
        <div class="grid grid-cols-2 gap-4">
      
        </div>
    </div> -->

    <div *ngIf="driver?.driverMerchant" class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-black rounded-lg shadow-md">
        <div class="mb-5 flex">
            <h2 class="text-2xl leading-4 font-bold"> {{"driver_merchant"|transloco}}</h2>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p class="font-semibold"> {{ 'company_name' | transloco }}</p>
                <p>{{driver.driverMerchant?.companyName}}</p>
            </div>
            <div>
                <p class="font-semibold"> {{ 'director_name' | transloco }}</p>
                <p>{{driver.driverMerchant?.supervisorFirstName}} {{driver.driverMerchant?.supervisorLastName}}</p>
            </div>
            <div>
                <p class="font-semibold">{{ 'responce_person' | transloco }}</p>
                <p>{{driver.driverMerchant?.responsiblePersonFistName}} {{driver.driverMerchant?.responsiblePersonLastName}}</p>
            </div>
            <div>
                <p class="font-semibold">{{ 'phone' | transloco }}</p>
                <p>{{driver.driverMerchant?.phoneNumber}}</p>
            </div>
            <div>
                <p class="font-semibold">{{ 'legal_address' | transloco }}</p>
                <p>{{driver.driverMerchant?.legalAddress}}</p>
            </div>
            <div>
                <p class="font-semibold">{{ 'actual_address' | transloco }}</p>
                <p>{{driver.driverMerchant?.factAddress}}</p>
            </div>
            <div>
                <p class="font-semibold">{{ 'email' | transloco }}</p>
                <p>{{driver.driverMerchant?.email}}</p>
            </div>
            <div>
                <p class="font-semibold">{{ 'bank_name' | transloco }}</p>
                <p>{{driver.driverMerchant?.bankName}}</p>
            </div>
            <div>
                <p class="font-semibold">{{ 'inn' | transloco }}</p>
                <p>{{driver.driverMerchant?.inn}}</p>
            </div>
            <div>
                <p class="font-semibold">{{ 'oked' | transloco }}</p>
                <p>{{driver.driverMerchant?.oked}}</p>
            </div>
            <div>
                <p class="font-semibold">{{ 'mfo' | transloco }}</p>
                <p>{{driver.driverMerchant?.mfo}}</p>
            </div>
            <div>
                <p class="font-semibold">{{ 'duns_number' | transloco }}</p>
                <p>{{driver.driverMerchant?.dunsNumber}}</p>
            </div>
        </div>
    </div>
    <div class="flex items-end gap-4 mt-2 p-4">
        <div class="w-40" *ngIf="driver?.passportFilePath">
            <mat-label class="text-large font-bold">{{ 'passport' | transloco }} </mat-label>
            <div class="relative flex items-center justify-center w-40 h-32 overflow-hidden">
                <div class="absolute inset-0 bg-black bg-opacity-50 z-10 rounded-md"></div>
                <div class="absolute inset-0 flex items-center justify-center z-20">
                    <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                        matRipple>
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:arrow-down-tray'"
                            (click)="downloadPhoto(driver.passportFilePath)"></mat-icon>
                    </label>
                </div>
                <img class="object-fill w-full h-full" [src]="driver.passportFilePath | fileFetch: 'driver'|async">
            </div>
        </div>

        <div class="w-40" *ngIf="driver?.driverLicenseFilePath">
            <mat-label class="text-large font-bold">{{ 'driver_lisense_card' | transloco }} </mat-label>
            <div class="relative flex items-center justify-center w-40 h-32 overflow-hidden">
                <div class="absolute inset-0 bg-black bg-opacity-50 z-10 rounded-md"></div>
                <div class="absolute inset-0 flex items-center justify-center z-20">
                    <div>
                        <label
                            class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                            matRipple>
                            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:arrow-down-tray'"
                                (click)="downloadPhoto(driver.driverLicenseFilePath)"></mat-icon>
                        </label>
                    </div>
                </div>

                <img class="object-fill w-full h-full" [src]="driver.driverLicenseFilePath | fileFetch: 'driver'|async">
            </div>
        </div>

    </div>


    <!-- <div class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-black rounded-lg shadow-md cursor-pointer" (click)="addTransportEdit()"
        *ngIf="driver?.driverTransports?.length>0">
        <div class="mb-5">
            <h2 class="text-2xl leading-4 font-bold">{{"view_transport"|transloco}}</h2>
        </div>
    </div> -->
    <!-- <div class="max-w-md mx-auto p-4  mt-3 bg-white rounded-lg shadow-md">
        <div class="mb-5">
            <h2 class="text-2xl leading-4 font-bold">{{"information"|transloco}}</h2>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p class="text-xl leading-4 mb-1">{{"full_name"|transloco}}</p>
                <p class="font-bold">{{driver?.firstName}} {{driver?.lastName }}ч</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1">{{"date_birth"|transloco}}</p>
                <p class="font-bold">01.09.2002</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1">{{"subscription"|transloco}}</p>
                <p class="font-bold">{{driver?.subscribedAt | date:'dd/MM/yyyy HH:mm' }}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1">{{"city"|transloco}}</p>
                <p class="font-bold">Ташкент</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1">{{"register_date"|transloco}}</p>
                <p class="font-bold">03 ноября 2023 в 19:52</p>
            </div>
        
        </div>
        <div class="flex justify-between mt-4">
            <div class="flex">
                <img src="assets/images/icons/info-red.svg" class="h-7 w-7" alt="info">
                <span class="ml-2 text-red-600">{{"moderation_failed"|transloco}}</span>
            </div>
            <button mat-flat-button [color]="'primary'" class="">
                {{"activate"|transloco}}
            </button>
        </div>
    </div> -->
    <!-- <div class="max-w-md mx-auto p-4  mt-3 bg-white rounded-lg shadow-md">
        <div class="mb-5">
            <h2 class="text-2xl leading-4 font-bold">{{"transport"|transloco}}</h2>
        </div>

        <div class="grid grid-cols-2 gap-4" *ngFor="let transport of driver?.driverTransports">
            <div>
                <p class="text-xl leading-4 mb-1">{{"transport_cargo"|transloco}}</p>
                <p class="font-bold">Тентовка</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1">{{"Date"|transloco}}</p>
                <p class="font-bold">{{transport?.createdAt | date:'dd/MM/yyyy HH:mm'}}</p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1">{{"adr"|transloco}}</p>
                <p class="font-bold">
                    <span *ngIf="transport?.isAdr">
                        {{"yes"|transloco}}
                    </span>
                    <span *ngIf="!transport?.isAdr">
                        {{"no"|transloco}}
                    </span>
                </p>
            </div>
            <div>
                <p class="text-xl leading-4 mb-1">{{"state_number_trailer"|transloco}}</p>
                <p class="font-bold">{{transport?.stateNumber}}</p>
            </div>

        </div>

        <div class="grid grid-cols-1 gap-4" *ngFor="let transport of driver?.driverTransports">
            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold">{{"technical_passport"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.techPassportFrontFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>
            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold">{{"tech_passport_front"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.techPassportBackFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>

            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold">{{"transport_photo"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.transportFrontFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>
            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold">{{"transport_back_photo"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.transportBackFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>

            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold">{{"transport_side_photo"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.transportSideFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>

            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold">{{"passport"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.passportFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>

            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold">{{"driver_lisense_card"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.driverLicenseFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>
            <div class="flex space-x-4 bg-gray-50 dark:text-black mt-2 px-4 py-2 rounded-lg">
                <div class="w-3/4">
                    <label class="block mb-2 font-bold">{{"good_transportation_lisense"|transloco}}</label>
                </div>
                <div class="w-1/4 flex items-center justify-end">
                    <mat-icon (click)="preview(transport.goodsTransportationLicenseCardFilePath)"
                        class="h-5 w-5 pointer-events-auto">remove_red_eye</mat-icon>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="max-w-md mx-auto p-4  mt-3 bg-white rounded-lg shadow-md">
        <div class="mb-5">
            <h2 class="text-2xl leading-4 font-bold">{{"passport"|transloco}}</h2>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <mat-form-field color="accent" class="w-full  ">
                    <input matInput placeholder="{{ 'series_and_number' | transloco }}">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field color="accent" class="w-full  ">
                    <input matInput placeholder="{{ 'date_issue' | transloco }}">
                </mat-form-field>
            </div>
        </div>
        <div class="flex justify-end mt-4">
            <button mat-flat-button [color]="'primary'" class="">
                {{"save"|transloco}}
            </button>
        </div>
    </div> -->
    <!-- <div class="max-w-md mx-auto p-4  mt-3 bg-white rounded-lg shadow-md">
        <div class="mb-5">
            <h2 class="text-2xl leading-4 font-bold"> {{"driver_license"|transloco}}
            </h2>
        </div>
        <div class="grid grid-cols-1 gap-4">
            <mat-form-field class="w-full ">
                <input matInput placeholder="{{'driver_license'|transloco}}" class="w-full">
            </mat-form-field>
        </div>
        <div class="flex justify-end mt-4">
            <button mat-flat-button [color]="'primary'" class="">
                {{"save"|transloco}}
            </button>
        </div>
    </div> -->
    <!-- <div class="max-w-md mx-auto p-4  mt-3 bg-white dark:bg-black rounded-lg shadow-md cursor-pointer" (click)="addTransportEdit()"
    *ngIf="driver?.driverTransports?.length>0">
    <div class="mb-5">
        <h2 class="text-2xl leading-4 font-bold">{{"view_transport"|transloco}}</h2>
    </div>
</div> -->

    <div class="flex justify-end gap-4 mt-4 px-4">
        <button *ngIf="driver?.driverTransports?.length>0" mat-flat-button [color]="'primary'"
            (click)="addTransportEdit()">
            {{"view_transport"|transloco}}
        </button>
        <button mat-flat-button [color]="'primary'" (click)="addTransport()">
            {{"add_transport"|transloco}}
        </button>
    </div>
    <div class="flex justify-end gap-4 mt-4 mb-4 px-4">
        <button mat-flat-button [color]="'primary'" (click)="assignMerchantDriver(data)">
            {{"assign_merchant_driver"|transloco}}
        </button>
    </div>
    <div class="flex justify-end mt-4 px-4">
        <button mat-flat-button [color]="'primary'" *ngIf="!driver?.blocked" [disabled]="driver?.blocked"
            (click)="block()">
            {{"block"|transloco}}
        </button>
        <button mat-flat-button [color]="'primary'" *ngIf="driver?.blocked" [disabled]="!driver?.blocked"
            (click)="active()">
            {{"unblock"|transloco}}
        </button>
    </div>
    <!-- <div class="max-w-md mx-auto p-4  mt-3 bg-white rounded-lg shadow-md">
        <div class="mb-4">
            <h2 class="text-xl font-bold">{{"user_activity"|transloco}}</h2>
            <h4 class="text-xl font-bold">Произведен вход Windows NT 10.0, IP:95.214.211.165</h4>
        </div>
    </div> -->
</mat-dialog-content>
<mat-dialog-actions class="flex">
    <div class="ml-auto p-4">
        <button mat-flat-button [color]="'warn'" mat-dialog-close tabindex="-1">
            {{"send_push"|transloco}}</button>
        <button mat-flat-button [color]="'primary'" class="" (click)="submit()">
            {{"save"|transloco}}
        </button>
    </div>
</mat-dialog-actions>